{% extends "base.html" %}

{% block extrahead %}
    {{ super() }}
    <meta name="description" content="{{ config.site_description }}">
    <meta property="og:url" content="{{ config.site_url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}">
    <meta property="og:description" content="{{ config.site_description }}">
    <meta property="og:image" content="{{ config.site_url }}logo.png">
{% endblock extrahead %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/css/extra.css">
    <link rel="stylesheet" href="{{ base_url }}/css/callouts.css">
    <link rel="stylesheet" href="{{ base_url }}/css/scrollbar.css">
    <link rel="stylesheet" href="{{ base_url }}/css/footermatter.css">
    <link rel="stylesheet" href="{{ base_url }}/css/slides.css">
{% endblock styles %}

{% block scripts %}
    {{ super() }}
    <script src="{{ base_url }}/js/tex-mml-chtml.js"></script>
{% endblock scripts %}

{% block content %}
    {{ super() }}
	{% include "partials/footermatter.html" %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
