/************************\
|*      EXTRA META      *|
\************************/
.assignment-meta-note {
  position: relative;
  box-shadow: 5px 5px 5px 0 var(--piggy-shadow-box);
  border: 1px solid var(--piggy-info-box-border);
  border-radius: 1rem;
  background: var(--piggy-info-box-background);
  box-sizing: border-box;
  width: fit-content;
  max-width: calc(100% - 2rem);
  overflow-wrap: anywhere;
  word-break: break-word;
  padding: calc(0.75rem * var(--piggy-font-scale));
  margin: calc(0.5rem * var(--piggy-font-scale)) auto;
  font-size: calc(1.1rem * var(--piggy-font-scale));
  text-align: center;
}

.assignment-meta-note-icon {
  fill: var(--piggy-text-main);
  width: calc(1.1rem * var(--piggy-font-scale));
  height: calc(1.1rem * var(--piggy-font-scale));
  display: inline;
  margin: calc(0.1rem * var(--piggy-font-scale));
}
