/************************\
|* ASSIGNMENT CARD GRID *|
\************************/
.assignment-card-grid-wrapper {
  max-width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.assignment-card-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

/* small screen */
@media (min-width: 640px) {
  .assignment-card-grid-container {
    grid-template-columns: 1fr;
  }
}

/* medium screen */
@media (min-width: 768px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* large screen */
@media (min-width: 1024px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* very large screen */
@media (min-width: 2240px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* extremely large screen */
@media (min-width: 3200px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
