/************************\
|* ASSIGNMENT CARD GRID *|
\************************/
.assignment-card-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

/* small screen */
@media (min-width: 640px) {
  .assignment-card-grid-container {
    grid-template-columns: 1fr;
  }
}

/* medium screen */
@media (min-width: 768px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* large screen */
@media (min-width: 1024px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* medium-large screen (e.g. 1080p monitors) */
@media (min-width: 1600px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* very large screen */
@media (min-width: 2240px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* extremely large screen */
@media (min-width: 3200px) {
  .assignment-card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
