/***************************\
|*     NAVIGATION MENU     *|
\***************************/
@media screen and (min-width: 800px) {

    /* Make header sticky on larger displays */
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0px 0px 5px #00000066;
    }
}

.piggy-navbar {
    background: linear-gradient(90deg,
            var(--piggy-navbar-start) 0%,
            var(--piggy-navbar-end) 100%);
    vertical-align: middle;
}

.piggy-breadcrumb {
    color: var(--piggy-text-breadcrumb);
    font-size: calc(1rem * var(--piggy-font-scale));
}

.piggy-breadcrumb:not(.no-hover):hover {
    color: var(--piggy-text-breadcrumb-hover);
    transition: color 0.2s ease;
    font-size: calc(1rem * var(--piggy-font-scale));
}
