.obsidian/
.vault-stats
.trash/
*.DS_Store
.DS_Store?
.cache
.pid
*.egg-info
uv.lock
.vscode/

tailwind.css

turtleconvert/

.idea/
venv/
.venv/
.venvy/
venvy/
__pycache__/


node_modules/
package-lock.json

demo/