# Used to generate GitHub Pages
services:
  app:
    build: .
    container_name: piggy
    ports:
      - "55555:5000"
    environment:
      - AUTO_UPDATE=False

      - FLASK_DEBUG="0"
      - USE_CACHE="0"
      - WEB_CONCURRENCY=16
      - GITHUB_PAGES=1

      - TZ=Europe/Oslo
    volumes:
      - ./piggybank-demo:/app/piggybank
