{% for item, data in segment.items() %}
    {# Name metadata for child item #}
    <h2>{{ data.meta.name }}</h2>


    {# Header media for child item #}
    <img src="{{ media_abspath }}/{{ item }}/media/header.png" alt="Header image for {{ item }}"/>
    <pre>{{ media_abspath }}/{{ item }}/media/header.png</pre>

    <br>
    {# Link to item, display name #}
    <a href="{{ abspath }}/{{ item }}">View {{ data.meta.name }}</a>
    <br>

    <h3>All metadata</h3>
    {% for meta_key, meta_val in data.meta.items() %}
        <strong>{{ meta_key }}</strong>: {{ meta_val }}
        <br>
    {% endfor %}
{% endfor %}