<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      {% include "partials/head.html" | safe %}
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="main-container">
    <header>
      {% include "partials/parts/breadcrumbs.html" %}
      {% block header %}
      {% endblock %}
    </header>
    <main>
      {% block base %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>
