/*****************************\
|*  MARKDOWN CODE OVERRIDES  *|
\*****************************/
.md-content code,
.md-content summary,
.md-content .linenos {
    font-size: calc(0.875rem * var(--piggy-font-scale)) !important;
    line-height: calc(1rem * var(--piggy-font-scale)) !important;
}

.md-content code:not(.md-code__content) {
    padding: 0 0.2rem !important;

    color: var(--piggy-code) !important;
    background-color: var(--piggy-code-bg) !important;

    border: 1px solid var(--piggy-code-border) !important;
    border-radius: 0.25rem !important;
}

.md-content .linenodiv {
    margin-top: 0.1rem;
    margin-bottom: -0.1rem;
}

.md-content .linenos .normal {
    color: var(--piggy-text-main) !important;
}

.md-content code {
    line-height: 1.1rem;
}

.md-content .highlighttable {
    border-radius: 0.5rem !important;
    border: 1px solid var(--piggy-code-block-border) !important;
    overflow: hidden !important;
}

.md-code__content span {
    max-width: 100% !important;
    overflow-anchor: auto !important;
    overflow: hidden !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    padding-top: calc(0.25rem * var(--piggy-font-scale)) !important;
    padding-bottom: calc(0.25rem * var(--piggy-font-scale)) !important;
    font-size: calc(0.85rem * var(--piggy-font-scale)) !important;
}

code.md-code__content,
.md-content .md-code__content {
    background-color: var(--piggy-code-block-bg) !important;
    color: var(--piggy-code) !important;
    border: 1px solid var(--piggy-code-block-border) !important;
    border-radius: 0.5rem !important;
}

.md-clipboard {
    color: var(--piggy-light) !important;
}

.md-clipboard:hover {
    color: var(--piggy-neutral) !important;
}
