/*****************************\
|*  MARKDOWN BASE OVERRIDES  *|
\*****************************/
.md-content {
    padding: 0.0rem 0.1rem !important;
}

.md-container a {
    color: var(--piggy-text-hyperlink) !important;
}

.md-container a:hover {
    color: var(--piggy-text-hyperlink-hover) !important;
    text-decoration: underline;
    transition: 0.2s;
}

.assignment-heading {
    margin-top: 1em;
    text-align: center;
}

.md-container blockquote,
.md-container dl,
.md-container dd,
.md-container h1,
.md-container h2,
.md-container h3,
.md-container h4,
.md-container h5,
.md-container h6,
.md-container hr,
.md-container figure,
.md-container p,
.md-container pre {
    /* Set to standard value */
    margin: initial;
    padding: initial;
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    font-weight: bold !important;
    margin-top: 2.0rem !important;
    margin-bottom: 0.5rem !important;
    border-bottom: 2px solid !important;
    padding: 0.35rem 1.25rem 0.1rem 0.5rem !important;
    width: 100% !important;
}

.md-content h1,
.md-content h1 code {
    font-size: calc(2rem * var(--piggy-font-scale)) !important;
}

.md-content h1 {
    color: var(--piggy-content-h1) !important;
    background-color: var(--piggy-header-bg-h1);
}

.md-content h2,
.md-content h2 code {
    font-size: calc(1.75rem * var(--piggy-font-scale)) !important;
}

.md-content h2 {
    color: var(--piggy-content-h2) !important;
    background-color: var(--piggy-header-bg-h2);
}

.md-content h3,
.md-content h3 code {
    font-size: calc(1.35rem * var(--piggy-font-scale)) !important;
}

.md-content h3 {
    color: var(--piggy-content-h3) !important;
    background-color: var(--piggy-header-bg-h3);
}

.md-content h4,
.md-content h4 code {
    font-size: calc(1.15rem * var(--piggy-font-scale)) !important;
}

.md-content h4 {
    color: var(--piggy-content-h4) !important;
    background-color: var(--piggy-header-bg-h4);
}

.md-content h5,
.md-content h5 code {
    font-size: calc(1.05rem * var(--piggy-font-scale)) !important;
}

.md-content h5 {
    color: var(--piggy-content-h5) !important;
    background-color: var(--piggy-header-bg-h5);
}

.md-content h6,
.md-content h6 code {
    font-size: calc(1rem * var(--piggy-font-scale)) !important;
}

.md-content h6 {
    color: var(--piggy-content-h6) !important;
    background-color: var(--piggy-header-bg-h6);
}

.md-content p {
    font-size: calc(1rem * var(--piggy-font-scale)) !important;
}

.md-content p:not(.admonition-title):not(summary) {
    margin-bottom: calc(0.9rem * var(--piggy-font-scale)) !important;
    margin-top: calc(0.25rem * var(--piggy-font-scale)) !important;
    line-height: calc(1.75rem * var(--piggy-font-scale)) !important;
}

.md-content ul {
    font-size: calc(1rem * var(--piggy-font-scale)) !important;
}

.md-content blockquote {
    color: var(--piggy-neutral) !important;
    border-left: 0.2rem solid var(--piggy-neutral) !important;
}
