/*****************************\
|*  MARKDOWN MATH OVERRIDES  *|
\*****************************/
.md-content .MathJax {
    text-align: left !important;
    font-size: calc(1rem * var(--piggy-font-scale)) !important;
}

.md-content .arithmatex,
.md-content .MJX-TEX {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
    font-size: calc(1rem * var(--piggy-font-scale)) !important;
}
