{% extends "assignments/_assignments_base.html" %}
{% block assignment_title %}{{ meta.name }}{% endblock %}

{% block assignment_base %}
  {# moveable search box #}
  {% include 'partials/search_box.html' %}

  {# split out assignments vs exercises #}
  {% set assignments = segment.items() 
       | selectattr('1.meta.type', 'equalto', 'assignment') 
       | list %}
  {% set exercises = segment.items() 
       | selectattr('1.meta.type', 'equalto', 'exercise') 
       | list %}

  {% if assignments or exercises %}
    {# ASSIGNMENTS #}
    <div class="card-grid-wrapper assignment-card-grid-wrapper">
      <h2 class="assignment-title">Innleveringsoppaver:</h2>
      <div class="card-grid-container card-type-assignment assignment-card-grid-container">
        {% for item, data in assignments %}
          {% include 'objects/card-assignment.html' %}
        {% endfor %}
      </div>
    </div>

    {# EXERCISES #}
    <div class="card-grid-wrapper">
      <h2 class="assignment-title">Øvingsoppgaver:</h2>
      <div class="card-grid-container card-type-exercise">
        {% for item, data in exercises %}
          {% include 'objects/card-exercise.html' %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="card-grid-container">
      Hmm... There doesn't seem to be anything here!
    </div>
  {% endif %}
{% endblock %}
