{% extends "layout.html" %}
{% set ns = namespace(extra_content = false) %}

{% block base %}
  <h1 class="page-title font-extrabold text-center my-6">{{ meta.name }}</h1>
  {% include 'partials/search_box.html' %}

  <div class="container mx-auto p-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2"
    >
      {% if segment.items()|length > 0 %}
        {% for item, data in segment.items() %}
          {% if data.meta.type != "extra" %}
            {% include 'objects/card-topic.html' %}
          {% else %}
            {% set ns.extra_content = true %}
          {% endif %}
        {% endfor %}
      {% else %}
        Hmm... There doesn't seem to be anything here!
      {% endif %}
    </div>
    {% if ns.extra_content %}
      <br />
      <h3 class="extra-title text-2xl text-extrabold">Ekstra:</h3>
      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2"
      >
        {% for item, data in segment.items() %}
          {% if data.meta.type == "extra" %}
            {% include 'objects/card-topic.html' %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
