<h1>Oppgavebanken</h1>

{% for item, data in segment.items() %}
    {% set meta = data.get('meta', {}) %}

    {# Name metadata for child item #}
    <h2>{{ meta.title }}</h2>


    {# Header media for child item #}
    <img src="{{ media_abspath }}/{{ item }}/media/header.png" alt="Header image for {{ item }}"/>
    <pre>{{ media_abspath }}/{{ item }}/media/header.png</pre>

    <br>
    {# Link to item, display name #}
    <a href="{{ abspath }}/{{ item }}">View {{ meta.title }}</a>
    <br>

    <h3>All metadata</h3>
    {% for meta_key, meta_val in meta.items() %}
        <strong>{{ meta_key }}</strong>: {{ meta_val }}
        <br>
    {% endfor %}
{% endfor %}
