<h3 class="settings-title">Font-size:</h3>
<div class="custom-select" id="font-size-select">
    <div class="selected" data-value="">
        Normal
    </div>
    <div class="options-container">
        <div class="option" data-value="normal" style="font-size: 0.75rem">
            Tiny
        </div>
        <div class="option" data-value="normal" style="font-size: 0.85rem">
            Smaller
        </div>
        <div class="option" data-value="normal" style="font-size: 0.9rem">
            Small
        </div>
        <div class="option" data-value="normal" style="font-size: 1rem">
            Normal
        </div>
        <div class="option" data-value="normal" style="font-size: 1.25rem">
            Large
        </div>
        <div class="option" data-value="normal" style="font-size: 1.5rem">
            Larger
        </div>
        <div class="option" data-value="normal" style="font-size: 2.0rem">
            Gigantic
        </div>
    </div>
</div>
