<h3 class="settings-title">Font:</h3>
<div class="custom-select" id="font-select">
  <!-- Placeholder: will be updated by JS if a font is found in localStorage -->
  <div class="selected" data-value="">
    Select a font
  </div>
  <!-- Dropdown options -->
  <div class="options-container">
    <div class="option" data-value="default" style="font-family: 'Quicksand', sans-serif;">
      Default 🐷
    </div>
    <div class="option" data-value="lexia" style="font-family: 'Lexia', sans-serif;">
      Lexia (Dyslexia friendly!) 👍
    </div>
    <div class="option" data-value="arial" style="font-family: Arial, sans-serif;">
      Arial 😴
    </div>
    <div class="option" data-value="impact" style="font-family: Impact, sans-serif;">
      Impact 🤯
    </div>
    <div class="option" data-value="papyrus" style="font-family: Papyrus, sans-serif;">
      Papyrus 💀
    </div>
    <div class="option" data-value="times" style="font-family: 'Times New Roman', serif;">
      Times New Roman 🤓
    </div>
    <div class="option" data-value="courier" style="font-family: 'Courier New', monospace;">
      Courier New 🧑‍💻
    </div>
    <div class="option" data-value="georgia" style="font-family: Georgia, serif;">
      Georgia 🏳️
    </div>
    <div class="option" data-value="verdana" style="font-family: Verdana, sans-serif;">
      Verdana 🤔
    </div>
    <div class="option" data-value="trebuchet" style="font-family: 'Trebuchet MS', sans-serif;">
      Trebuchet MS 🤺
    </div>
    <div class="option" data-value="lucida" style="font-family: 'Lucida Console', monospace;">
      Lucida Console 🧠
    </div>
    <div class="option" data-value="brush" style="font-family: 'Brush Script MT', cursive;">
      Brush Script MT 💅
    </div>
    <div class="option" data-value="gill-sans" style="font-family: 'Gill Sans', sans-serif;">
      Gill Sans 😎
    </div>
    <div class="option" data-value="century-gothic" style="font-family: 'Century Gothic', sans-serif;">
      Century Gothic 🧛
    </div>
  </div>
</div>