<h3 class="settings-title">Font Size:</h3>
<div class="custom-select" id="font-size-select">
    <div class="selected" data-value="">
        Normal
    </div>
    <div class="options-container">
        <div class="option" data-value="xx-small" style="font-size: 0.7rem">
            Tiny
        </div>
        <div class="option" data-value="x-small" style="font-size: 0.85rem">
            Smaller
        </div>
        <div class="option" data-value="small" style="font-size: 1.0rem">
            Small
        </div>
        <div class="option" data-value="default" style="font-size: 1.075rem">
            Normal
        </div>
        <div class="option" data-value="large" style="font-size: 1.2rem">
            Large
        </div>
        <div class="option" data-value="x-large" style="font-size: 1.35rem">
            Larger
        </div>
        <div class="option" data-value="xx-large" style="font-size: 1.5rem">
            Massive
        </div>
        <div class="option" data-value="xxx-large" style="font-size: 1.85rem">
            Gigantic
        </div>
    </div>
</div>
