<h3 class="settings-title">Font-size:</h3>
<div class="custom-select" id="font-size-select">
  <div class="selected" data-value="">
    Select a font-size
  </div>
  <!-- Dropdown options -->
  <div class="options-container">
    <div class="option" data-value="small" style="font-size: 0.75rem">
      Small
    </div>
    <div class="option" data-value="default" style="font-size: 1.0rem">
      Default
    </div>
    <div class="option" data-value="default" style="font-size: 1.5rem">
      Large
    </div>
  </div>
</div>