<h3 class="settings-title">Code Font:</h3>
<div class="custom-select" id="mono-select">
  <div class="selected" data-value="">
    Select a code font
  </div>
  <div class="options-container">
    <div class="option" data-value="default" style="font-family: 'Cascadia Code PL', monospace;">
      Cascadia Code (Default) 💻
    </div>
    <div class="option" data-value="fira-code" style="font-family: 'Fira Code', monospace;">
      Fira Code ⚙️
    </div>
    <div class="option" data-value="roboto-mono" style="font-family: 'Roboto Mono', monospace;">
      Roboto Mono 🤖
    </div>
    <div class="option" data-value="jetbrains-mono" style="font-family: 'JetBrains Mono', monospace;">
      JetBrains Mono 🧠
    </div>
    <div class="option" data-value="dm-mono" style="font-family: 'DM Mono', monospace;">
      DM Mono 🎛️
    </div>
    <div class="option" data-value="ubuntu-mono" style="font-family: 'Ubuntu Mono', monospace;">
      Ubuntu Mono 🐧
    </div>
    <div class="option" data-value="kode-mono" style="font-family: 'Kode Mono', monospace;">
      Kode Mono 🧩
    </div>
    <div class="option" data-value="lucida" style="font-family: 'Lucida Console', monospace;">
      Lucida Console 🖥️
    </div>
    <div class="option" data-value="courier" style="font-family: 'Courier New', monospace;">
      Courier New 📠
    </div>
  </div>
</div>
