/* Underline h2 */
h2{
    border-bottom: .05rem solid var(--md-default-fg-color--lightest);
    display: flow-root;
    padding-bottom: 0.25rem;
}

.md-typeset h3 {
    letter-spacing: 0;
    margin: 1.6em 0 -0.5em;
    width: fit-content;
    padding-bottom: 2px;
}

/* Realistic highlight markers */
.md-typeset mark{
    border-radius: 10px 5px;
    padding: 2px;
}

/* Tables */
thead {
    background-color: var(--md-code-hl-color);
}

th, td {
    border: 1.2px solid rgba(0,0,0,0.2);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
    vertical-align: middle;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue),0%,0%,0.1)
}
