<button id="scroll-to-top-btn" class="opacity-0 pointer-events-none">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 15l7-7 7 7"
    />
  </svg>
</button>

<script>
  const scrollToTopBtn = document.getElementById("scroll-to-top-btn");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 150) {
      scrollToTopBtn.classList.remove("opacity-0", "pointer-events-none");
      scrollToTopBtn.classList.add("opacity-100", "pointer-events-auto");
    } else {
      scrollToTopBtn.classList.add("opacity-0", "pointer-events-none");
      scrollToTopBtn.classList.remove("opacity-100", "pointer-events-auto");
    }
  });

  scrollToTopBtn.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
