<button id="settings-button" class="snout-button snout-padding-m snout-border">
  <span id="settings-button-icon">⚙️</span>
  <span id="settings-button-text">Settings</span>
</button>

<!-- Settings Menu -->
<div id="settings-menu">
  <!-- Close Button -->
  <a href="javascript:void(0)" class="close-button">&times;</a>
  <div class="settings-content">
    <!-- Theme Selection -->
    {% include 'partials/parts/settings/theme.html' %}
    {% include 'partials/parts/settings/font.html' %}
  </div>
</div>
