{# Styles #}
<link
  href="{{ url_for('static', filename='css/tailwind.css') }}"
  rel="stylesheet" />

<link
  href="{{ url_for('static', filename='css/main.css') }}"
  rel="stylesheet" />

{% for theme_file in themes %}
  <link
    href="{{ url_for('static', filename='css/themes/' + theme_file.path + '.css') }}"
    rel="stylesheet" />
{% endfor %}

{# Google Fonts #}
{%
  set gfont =
  "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Bitter:ital,wght@0,400..800;1,400..800&family=Cherry+Bomb+One&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,400..800;1,400..800&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@400..800&family=Noto+Color+Emoji&family=Noto+Sans:ital,wght@0,400..800;1,400..800&family=Noto+Sans+Math&family=Nunito:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@400..700&family=Roboto+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
%}

{# Preconnect for better performance #}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

{# Preload Google Fonts #}
<link rel="preload" href="{{ gfont }}" as="style" />
<link href="{{ gfont }}" rel="stylesheet" />

{# Static Fonts #}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/fonts/imports.css') }}" />
