<button id="theme-modal-btn">Theme</button>

<div id="theme-modal" class="modal inline">
  <div class="modal-content grid-cols-1">
    <h3 class="theme-title">Select a Theme</h3>
    <button class="theme-option" data-theme="dark">Dark</button>
    <button class="theme-option" data-theme="light">Light</button>
    <button class="theme-option" data-theme="piggy">Piggy</button>
    <button class="theme-option" data-theme="high-contrast">High Contrast</button>
    <button class="theme-option" data-theme="classic">Classic</button>
  </div>
</div>