/* 
  SOMEWHAT TEMP 30.09.2024
  
  TODO:
  - Fix spaghetti with classes.
    - A lot of the buttons have their own styling instead of having the same class, 
      which there already is one: .piggy-button
    - I am sure there are some redundant styling classes, but at this point, there
      is so much spaghetti I can't even bother.
*/

:root {
  --piggy-font-size: var(15px);

  font-size: var(--piggy-font-size);

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/************************\
|*     FONT IMPORTS     *|
\************************/

/* Emoji Font*/
@font-face {
  font-family: "Emoji";
  src: url("/static/fonts/emoji-font.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

.language-flag {
  font-family: "Emoji", sans-serif !important;
}

/* Regular */
@font-face {
  font-family: "OpenDyslexic";
  src:
    url("/static/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("/static/fonts/OpenDyslexic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  letter-spacing: -10px;
}

/* Italic */
@font-face {
  font-family: "OpenDyslexic";
  src:
    url("/static/fonts/OpenDyslexic-Italic.woff2") format("woff2"),
    url("/static/fonts/OpenDyslexic-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  letter-spacing: -10px;
}

/* Bold */
@font-face {
  font-family: "OpenDyslexic";
  src:
    url("/static/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("/static/fonts/OpenDyslexic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  letter-spacing: -10px;
}

/* Bold Italic */
@font-face {
  font-family: "OpenDyslexic";
  src:
    url("/static/fonts/OpenDyslexic-BoldItalic.woff2") format("woff2"),
    url("/static/fonts/OpenDyslexic-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  letter-spacing: -10px;
}

@font-face {
  font-family: "Lexia";
  src: url("/static/fonts/LEXIA___.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexia";
  src: url("/static/fonts/LEXIB___.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

/***********************\
|*     FONT THEMES     *|
\***********************/
[data-font-theme="default"] *:not(code *, code, .MathJax *) {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="arial"] *:not(code *, code, .MathJax *) {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="lexia"] *:not(code *, code, .MathJax *) {
  font-family: "Lexia", "Comic Sans MS", sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="papyrus"] *:not(code *, code, .MathJax *) {
  font-family: Papyrus, fanasy, sans-serif;
}

[data-font-theme="impact"] *:not(code *, code, .MathJax *) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0px;
  font-weight: 100 !important;
}

[data-font-theme="times"] *:not(code *, code, .MathJax *) {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0px;
}

[data-font-theme="courier"] *:not(code *, code, .MathJax *) {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0px;
}

[data-font-theme="georgia"] *:not(code *, code, .MathJax *) {
  font-family: Georgia, serif;
  letter-spacing: 0px;
}

[data-font-theme="verdana"] *:not(code *, code, .MathJax *) {
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="trebuchet"] *:not(code *, code, .MathJax *) {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="lucida"] *:not(code *, code, .MathJax *) {
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 0px;
}

[data-font-theme="brush"] *:not(code *, code, .MathJax *) {
  font-family: "Brush Script MT", cursive;
  letter-spacing: 0px;
}

[data-font-theme="gill-sans"] *:not(code *, code, .MathJax *) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0px;
}

[data-font-theme="century-gothic"] *:not(code *, code, .MathJax *) {
  font-family: "Century Gothic", "Lucida Sans Unicode", sans-serif;
  letter-spacing: 0px;
}


/*****************************\
|*     ELEMENT OVERRIDES     *|
\*****************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--piggy-text-main) !important;
}

/************************\
|*     BASE STYLING     *|
\************************/
.transition {
  transition: 0.4s ease;
}

.main-container {
  background-color: var(--piggy-main);
  color: var(--piggy-text-main);
  text-shadow: var(--piggy-shadow-text) 3px 3px 5px;
  font-size: var(--piggy-font-size);
  padding-bottom: 5rem;
}

.main-title {
  font-size: 3rem;
  word-wrap: break-word;
}

.page-title {
  font-size: 3rem;
  word-wrap: break-word;
}

@media screen and (max-width: 800px) {
  .page-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 2.25rem;
    word-wrap: break-word;
  }
}

/*********************\
|*     CARD GRID     *|
\*********************/
.card-grid-wrapper {
  max-width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* very large screen */
@media (min-width: 1920px) {
  .card-grid-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

/* small screen */
@media (min-width: 640px) {
  .card-grid-container {
    grid-template-columns: 1fr;
  }
}

/* medium screen */
@media (min-width: 768px) {
  .card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* large screen */
@media (min-width: 1024px) {
  .card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* very large screen */
@media (min-width: 2240px) {
  .card-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* extremely large screen */
@media (min-width: 3200px) {
  .card-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*****************\
|*     CARDS     *|
\*****************/
.card-container {
  position: relative;
  background: linear-gradient(
    45deg,
    var(--piggy-card-start) 0%,
    var(--piggy-card-end) 100%
  );
  color: var(--piggy-text-card);
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  box-shadow: 5px 5px 5px 0 var(--piggy-shadow-box);
  border-color: var(--piggy-card-border);
  border-width: var(--piggy-card-border-width);
  border-radius: 1rem;
}

.card-container:hover {
  transform: translateY(-0px) rotate(1deg) scale(98%);
  animation-timing-function: ease;
  box-shadow: inset 0px 0px 25px 0 var(--piggy-shadow-glow);
  cursor: pointer;
}

/* TODO: Consider a better solution for extra-card and resource card */
.card-type-extra .card {
  background: linear-gradient(
    45deg,
    var(--piggy-extra-card-start) 0%,
    var(--piggy-extra-card-end) 100%
  );
  border: var(--piggy-card-border-width) solid var(--piggy-extra-card-border);
}

.card-type-resource .card {
  background: linear-gradient(
    45deg,
    var(--piggy-resource-card-start) 0%,
    var(--piggy-resource-card-end) 100%
  );
  border: var(--piggy-card-border-width) solid var(--piggy-resource-card-border);
}

.card-title {
  color: var(--piggy-text-title);
  width: 100%;
  text-align: center;
}

.card-header {
  display: flex;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-image {
  aspect-ratio: 16 / 5;
  width: 100%;
  border-radius: 0.65rem;
  box-shadow: 5px 5px 5px 0 var(--piggy-shadow-box);
}

.thumbnail-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--piggy-thumbnail-overlay);
  color: var(--piggy-text-thumbnail);
  padding: 4px 10px 4px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0.6rem 0.6rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px var(--piggy-shadow-text); /* Subtle text shadow */
}

.difficulty-overkill {
  color: var(--piggy-text-main);
}

.tags-container {
  /* max-height: 4.5rem; */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-box {
  margin: 2px 2px 2px 2px;
  box-shadow: inset 0px 0px 5px 0 var(--piggy-shadow-box);
  color: var(--piggy-text-tag);
  font-weight: 500;
}

.description-container {
  color: var(--piggy-text-description);
  bottom: 0;
  border-top: 2px solid var(--piggy-text-description);
  padding-top: 10px;
}

/* TODO: Fix this to not overlap text */
.level-count-container {
  position: absolute;
  top: 5px;
  right: 0;
  color: var(--piggy-light);
  background-color: var(--piggy-dark);
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  border-radius: 2rem;
  height: max-content;
  white-space: nowrap;
}

/***************************\
|*     NAVIGATION MENU     *|
\***************************/
.piggy-navbar {
  background: linear-gradient(
    90deg,
    var(--piggy-navbar-start) 0%,
    var(--piggy-navbar-end) 100%
  );
}

.piggy-breadcrumb {
  color: var(--piggy-text-breadcrumb);
  font-size: var(--piggy-font-size);
}

.piggy-breadcrumb:not(.no-hover):hover {
  color: var(--piggy-text-breadcrumb-hover);
  transition: color 0.2s ease;
  font-size: var(--piggy-font-size);
}

/**********************\
|*     SEARCH BOX     *|
\**********************/
/* Center the search container */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input wrapper for positioning */
.search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
}

/* Style the input */
.search-input {
  width: 100%;
  padding: 8px 15px 8px 60px; /* Adjusted left padding for icon and separator */
  border: 1px solid var(--piggy-neutral);
  border-radius: 25px;
  background-color: var(--piggy-main);
  color: var(--piggy-text-main);
  font-size: 16px;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

/* Placeholder text color */
.search-input::placeholder {
  color: var(--piggy-text-neutral);
}

/* Input focus styles */
.search-input:focus {
  border-color: var(--piggy-button-hover);
  box-shadow: 0 0 5px var(--piggy-shadow-glow);
}

/* Style the icon container */
.search-icon {
  position: absolute;
  left: 15px;
  top: 1px; /* Adjust to align vertically */
  bottom: 1px; /* Adjust to align vertically */
  display: flex;
  align-items: center;
  padding-right: 20px; /* Space between icon and separator */
  color: var(--piggy-text-neutral);
}

/* Icon size */
.search-icon-svg {
  width: 20px;
  height: 20px;
}

/* Vertical separator using ::after */
.search-icon::after {
  content: "";
  display: block;
  width: 1px;
  background-color: var(--piggy-neutral);
  height: 100%; /* Full height */
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .search-input-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .search-input-wrapper {
    width: 95%;
  }
}

/*************************\
|*     SETTINGS MENU     *|
\*************************/
#settings-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0; /* Start closed */
  height: 100%;
  background-color: var(--piggy-menu);
  color: var(--piggy-menu-text);
  overflow-x: hidden; /* Hide horizontal overflow */
  transition: width 0.5s;
  z-index: 10000;
  border-left: 1px solid var(--piggy-neutral);
}

/* Open State */
#settings-menu.open {
  width: 300px; /* Adjust the width as needed */
}

/* Close Button */
#settings-menu .close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  text-decoration: none;
}

/* Settings Content */
.settings-content {
  width: 300px;
  padding: 60px 20px 20px 20px; /* Top padding to push content below the close button */
}

#theme-select option {
  background-color: var(--piggy-light);
  color: var(--piggy-dark);
}

/************************\
|*     LEVEL SELECT     *|
\************************/
#meta-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--piggy-navbar-start) 0%,
    var(--piggy-navbar-end) 100%
  );
  border-top: 2px solid var(--piggy-card-start);
}

#level-container {
  padding: 10px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid var(--piggy-neutral);
  position: relative;
}

#level-container .snout-button {
  position: relative;
  min-width: 85px;
  text-align: center;
}

/* Tooltip Text */
#level-container .nav-tooltip {
  visibility: hidden;
  width: max-content;
  max-width: 250px;
  background-color: var(--piggy-tooltip);
  color: var(--piggy-tooltip-text);
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;

  /* Position the tooltip below the parent element */
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

/* Tooltip Arrow */
#level-container .nav-tooltip::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--piggy-tooltip) transparent;
}

/* Adjust tooltip position when near the left edge */
@media (max-width: 600px) {
  #level-container .nav-tooltip {
    left: 10px;
    transform: none;
  }
}

/* Adjust tooltip position when near the right edge */
@media (min-width: calc(100% - 600px)) {
  #level-container .nav-tooltip {
    right: 10px;
    left: auto;
    transform: none;
  }
}

/* Show Tooltip on Hover */
#level-container .snout-button:hover .nav-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Not sure if these are */
@media (max-width: 600px) {
  #level-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  #level-container .nav-tooltip {
    bottom: -60px;
  }
}

/****************************\
|*     LANGUAGE SECTION     *|
\****************************/
#language-container {
  position: relative;
  margin: 10px;
  z-index: 1000; /* Ensure it stays above other content */
}

#language-container .snout-button {
  min-width: 150px;
}

#language-container .language-dropdown {
  width: 100%;
  display: none;
  position: absolute;
  background-color: var(--piggy-menu);
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px var(--piggy-shadow-box);
  border-radius: 5px;
  top: 100%; /* Position the dropdown below the button */
  left: 0;
  z-index: 1000;

  max-height: calc(100svh - 40svh);
  overflow-y: auto;
}

#language-container .language-dropdown a {
  color: var(--piggy-menu-text);
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 0px;
  display: block;
  border-bottom: 1px solid var(--piggy-main);
  cursor: pointer;
}

#language-container .language-dropdown a:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#language-container .language-dropdown a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#language-container .language-dropdown a:hover {
  background-color: var(--piggy-button-hover);
  color: var(--piggy-text-button);
}

#language-container:hover .language-dropdown {
  display: block;
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
.md-container a {
  color: var(--piggy-text-hyperlink) !important;
}

.md-container a:hover {
  color: var(--piggy-text-hyperlink-hover) !important;
  text-decoration: underline;
  transition: 0.2s;
}

.assignment-heading {
  margin-top: 1em;
  text-align: center;
}

.admonition p:nth-child(2),
details p:nth-child(2) {
  margin-top: 0.6rem;
}

.admonition p:nth-child(2),
details p:nth-child(2) {
  margin-bottom: 0.6rem;
}

.md-container blockquote,
.md-container dl,
.md-container dd,
.md-container h1,
.md-container h2,
.md-container h3,
.md-container h4,
.md-container h5,
.md-container h6,
.md-container hr,
.md-container figure,
.md-container p,
.md-container pre {
  /* Set to standard value */
  margin: initial;
  padding: initial;
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
  font-weight: bold !important;
  margin-top: 1.35rem !important;
  margin-bottom: 0.25rem !important;
}

.md-content h1,
.md-content h1 code {
  font-size: 2rem !important;
}

.md-content h2,
.md-content h2 code {
  font-size: 1.5rem !important;
}
.md-content h3,
.md-content h3 code {
  font-size: 1.25rem !important;
}

.md-content h4,
.md-content h4 code {
  font-size: 1.15rem !important;
}

.md-content h5,
.md-content h5 code {
  font-size: 1.05rem !important;
}

.md-content h6,
.md-content h6 code {
  font-size: 1rem !important;
}

.md-content p {
  font-size: 1rem !important;
  margin-bottom: 0.75rem;
  margin-top: 0.25rem;
}

.md-content ul {
  font-size: 1rem !important;
}

.md-content code,
.md-content summary,
.md-content table,
.md-content .linenos {
  font-size: 0.8rem !important;
  line-height: 1rem;
}

.md-content code:not(.md-code__content) {
  padding: 0 0.2rem 0 0.2rem !important;
}

.md-content .linenodiv {
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
}

.md-content .linenos .normal {
  color: var(--piggy-text-main) !important;
}

.md-content details,
.md-content .tip,
.md-content .admonition {
  border-radius: 5px !important;
}

.md-content table {
  border-radius: 5px !important;
}

.md-content code {
  border-radius: 5px !important;
  line-height: 1.1rem;
}

.md-content .highlighttable {
  border-radius: 5px;
  border: 1px solid var(--piggy-dark);
}

.md-content summary {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  font-size: 1rem !important;
}

.md-content blockquote {
  color: var(--piggy-neutral) !important;
  border-left: 0.2rem solid var(--piggy-neutral) !important;
}

.md-content .tabbed-labels {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--piggy-dark);
  margin: 0 !important;
  padding: 0rem 0.5rem 0rem 0.5rem !important;
  flex-wrap: wrap;
}

.md-content .tabbed-labels::before {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: var(--piggy-light);
  padding-top: 100%;
  z-index: -1;
  background-color: #0000003a !important;
}

.md-content .tabbed-labels a {
  font-size: 0.9rem !important;
  color: var(--piggy-text-main) !important;
}

.md-content .MJX-TEX {
  font-family: "Noto Sans Math", "Times New Roman", Times, sans-serif !important;
}

.md-content .MathJax {
  text-align: left !important;
  font-size: 1rem !important;
}

.md-content .tabbed-set {
  border: 1px solid var(--piggy-neutral);
  border-radius: 5px !important;
  background: #0000000a;
}

.md-content .tabbed-content {
  padding: 0rem 1rem 0rem 1rem;
}
