/* METADATA
id: 5
name: Classic
description: The classic look of piggy!
type: light
preview_style: background-color: #ece4ec; color: #000000;
*/

[data-theme="classic"] {
  --piggy-main: #ece4ec;
  --piggy-light: #ffffff;
  --piggy-neutral: #747070; /* Gray */
  --piggy-dark: #000000;

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(0, 0, 0, 0.1);
  --piggy-shadow-box: #00000022;
  --piggy-shadow-glow: rgba(255, 255, 255, 20%);

  /* More contrast for cards */
  --piggy-card-start: #d6c8d5;
  --piggy-card-end: #d6c8d5;
  --piggy-card-border: #afa7af;
  --piggy-text-card: #333333;

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255, 152, 0, 0.3);
  --piggy-assignment-card-end: rgba(245, 124, 0, 0.3);
  --piggy-assignment-card-border: #f57c00;
  --piggy-assignment-overlay: rgba(245, 124, 0, 0.8);
  --piggy-assignment-accent: #f57c00;
  --piggy-assignment-shadow-glow: rgba(245, 124, 0, 0.5);

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: var(--piggy-main);
  --piggy-navbar-end: #d6c8d5;
  --piggy-text-navbar: var(--piggy-dark);

  --piggy-button: #c099a8;
  --piggy-button-hover: #ddb2c2;
  --piggy-button-active: rgb(241, 127, 138);
  --piggy-text-button: var(--piggy-dark);

  --piggy-thumbnail-overlay: rgba(255, 255, 255, 0.7);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: var(--piggy-dark);
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: var(--piggy-dark);

  --piggy-menu: var(--piggy-light);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #458bc4;
  --piggy-text-hyperlink-hover: rgb(62, 86, 107);
}

[data-theme="classic"] .level-count-container {
  color: var(--piggy-dark);
  background-color: var(--piggy-main);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="classic"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="classic"] .md-content code:not(.md-code__content) {
  background-color: #d1d1d1;
  color: var(--piggy-dark);
}

[data-theme="classic"] .md-content table code:not(.md-code__content) {
  background-color: #cf9eb1;
}

[data-theme="classic"] .md-content .md-code__content {
  filter: invert() contrast(1.25) hue-rotate(270deg);
  border: 1px solid #676a74;
}

[data-theme="classic"] .md-content table {
  border: 1px solid #555 !important;
}

[data-theme="classic"] .md-content th {
  background-color: #e0b1c3;
}

[data-theme="classic"] .md-content tr:nth-child(odd) td {
  background-color: #f0d3dd;
}

[data-theme="classic"] .md-content tr:nth-child(even) td {
  background-color: #e9c3d1;
}

[data-theme="classic"] .md-content details,
[data-theme="classic"] .md-content .tip,
[data-theme="classic"] .md-content .admonition {
  background-color: #e0e0e0;
  color: var(--piggy-dark);
}

[data-theme="classic"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #00000025 !important;
}

[data-theme="classic"] .md-content .tabbed-set {
  background: #0000000a;
}

[data-theme="classic"] .md-clipboard {
  color: var(--piggy-dark) !important;
}

[data-theme="classic"] .md-clipboard:hover {
  color: var(--piggy-neutral) !important;
}