/* METADATA
id: 0
name: Dark
description: The default dark theme.
type: dark
preview_style: background: linear-gradient(90deg, rgb(24, 29, 34), #000000); color: #ffffff; text-shadow: none;
*/

[data-theme="dark"] {
  /* piggy colors (higher contrast) */
  --piggy-main: rgb(24, 29, 34);
  --piggy-light: #ffffff;
  --piggy-neutral: #7a828a;
  --piggy-dark: rgb(17, 21, 25);

  --piggy-code: #eecf98;
  --piggy-code-bg: #3a3836;

  --piggy-text-main: var(--piggy-light);
  --piggy-text-light: var(--piggy-light);
  --piggy-text-neutral: #aeb3b9;
  --piggy-text-dark: var(--piggy-dark);

  --piggy-shadow-text: #00000055;
  --piggy-shadow-box: #00000044;
  --piggy-shadow-glow: rgba(255, 255, 255, 0.35);

  /* piggy card colors */
  --piggy-card-start: rgba(55, 78, 87, 0.658);
  --piggy-card-end: rgba(14, 26, 34, 0.55);
  --piggy-card-border: rgba(83, 100, 110, 0.356);
  --piggy-text-card: var(--piggy-text-light);

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(214, 129, 0, 0.35);
  --piggy-assignment-card-end: rgba(99, 49, 0, 0.507);
  --piggy-assignment-card-border: rgba(255, 152, 0, 0.5);
  --piggy-assignment-overlay: rgba(245, 124, 0, 0.9);
  --piggy-assignment-accent: #804f07;
  --piggy-assignment-shadow-glow: rgba(156, 94, 0, 0.6);

  /* Information cards */
  --piggy-information-card-start: rgba(0, 98, 179, 0.384);
  --piggy-information-card-end: rgba(0, 100, 200, 0.35);
  --piggy-information-card-border: rgba(0, 156, 255, 0.5);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(0, 150, 255, 0.6);

  --piggy-card-border-width: 1.5px;

  /* piggy elements */
  --piggy-navbar-start: rgb(30, 35, 40);
  --piggy-navbar-end: rgb(30, 35, 40);
  --piggy-text-navbar: var(--piggy-light);

  /* buttons */
  --piggy-button: #274f6e;
  --piggy-button-hover: #51748d;
  --piggy-button-active: #24a1b8;
  --piggy-text-button: var(--piggy-light);

  /* thumbnails */
  --piggy-thumbnail-overlay: #000000aa;
  --piggy-text-thumbnail: var(--piggy-light);

  /* text */
  --piggy-text-tag: #ffffff;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: #ffffff;
  --piggy-text-breadcrumb: #d0d3d6;
  --piggy-text-breadcrumb-hover: #85939e;

  /* menus */
  --piggy-menu: #1c232a;
  --piggy-menu-text: var(--piggy-light);

  /* tooltips */
  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  /* links */
  --piggy-text-hyperlink: #57a5ff;
  --piggy-text-hyperlink-hover: #8cc8ff;

  /* info boxes */
  --piggy-info-box-background: #00a3c255;
  --piggy-info-box-border: #00bcd4;

  /* level container */
  --piggy-level-container-text: var(--piggy-light);
  --piggy-level-container: rgb(43, 59, 92);
  --piggy-level-container-border: rgba(0, 0, 0, 0);

  /* logo */
  --piggy-logo: #ff9abc;
  --piggy-logo-gradient: linear-gradient(45deg, #ff72a8, #ff5a8f, #c03db9);
  --piggy-logo-border: rgba(66, 28, 53, 0.8);

  --piggy-header-border: #ffffff;

  --piggy-content-h1: #ffffff;
  --piggy-content-h2: #ff9d8c;
  --piggy-content-h3: #dc69ff;
  --piggy-content-h4: #ffcb9a;
  --piggy-content-h5: #6bc4ff;
  --piggy-content-h6: #aeb3b9;

  --piggy-header-bg-h1: rgba(255, 255, 255, 0.05);
  --piggy-header-bg-h2: rgba(255, 167, 140, 0.05);
  --piggy-header-bg-h3: rgba(220, 105, 255, 0.05);
  --piggy-header-bg-h4: rgba(255, 203, 154, 0.05);
  --piggy-header-bg-h5: rgba(107, 196, 255, 0.05);
  --piggy-header-bg-h6: rgba(174, 179, 185, 0.05);
}

[data-theme="dark"] .md-content {
  border: 1px solid #414141aa;
  border-radius: 0.5rem;
}

[data-theme="dark"] .md-content .md-code__content {
  border: 1px solid #474a56;
}

[data-theme="dark"] .md-content code:not(.md-code__content) {
  background-color: #3a3c42;
  color: #dddddd;
}

[data-theme="dark"] .md-content th {
  background-color: #4a6783;
}

[data-theme="dark"] .md-content .tabbed-set {
  background: #ffffff0a;
}
