/* METADATA
id: 0
name: Dark
description: The default dark theme.
type: dark
preview_style: background-color: rgb(34, 41, 47); color: #f0f4f8;
*/

[data-theme="dark"] {
  /* piggy colors */
  --piggy-main: rgb(34, 41, 47);
  --piggy-light: #f0f4f8;
  --piggy-neutral: #60656b;
  --piggy-dark: rgb(51, 61, 71);

  --piggy-text-main: var(--piggy-light);
  --piggy-text-light: var(--piggy-light);
  --piggy-text-neutral: var(--piggy-neutral);
  --piggy-text-dark: var(--piggy-dark);

  --piggy-shadow-text: #00000029;
  --piggy-shadow-box: #00000022;
  --piggy-shadow-glow: rgba(255, 255, 255, 20%);

  /* piggy card colors */
  --piggy-card-start: rgba(130, 174, 197, 0.3);
  --piggy-card-end: rgba(48, 73, 90, 0.3);
  --piggy-card-border: var(--piggy-card-end);
  --piggy-text-card: var(--piggy-text-light);

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255, 152, 0, 0.3);
  --piggy-assignment-card-end: rgba(245, 124, 0, 0.15);
  --piggy-assignment-card-border: #f57c00;
  --piggy-assignment-overlay: rgba(245, 124, 0, 0.85);
  --piggy-assignment-accent: #f57c00;
  --piggy-assignment-shadow-glow: rgba(245, 124, 0, 0.5);

  --piggy-card-border-width: 1px;

  /* piggy elements */
  --piggy-navbar-start: rgb(51, 61, 71);
  --piggy-navbar-end: rgb(51, 61, 71);
  --piggy-text-navbar: var(--piggy-light);

  --piggy-button: #4a6783;
  --piggy-button-hover: #647a95;
  --piggy-button-active: #2a5d9b;
  --piggy-text-button: #ffffff;

  --piggy-thumbnail-overlay: #00000077;
  --piggy-text-thumbnail: var(--piggy-light);

  --piggy-text-tag: #ffffff;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: var(--piggy-light);
  --piggy-text-breadcrumb: var(--piggy-light);
  --piggy-text-breadcrumb-hover: #a6aaad;

  --piggy-menu: var(--piggy-dark);
  --piggy-menu-text: var(--piggy-light);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #407eb1;
  --piggy-text-hyperlink-hover: #407eb1;
}

[data-theme="dark"] .md-content .md-code__content {
  border: 1px solid #474a56;
}

[data-theme="dark"] .md-content code:not(.md-code__content) {
  background-color: #3a3c42;
  color: #dddddd;
}

[data-theme="dark"] .md-content th {
  background-color: #4a6783;
}

[data-theme="dark"] .md-content .tabbed-set {
  background: #ffffff0a;
}
