/* METADATA
id: 4
name: High Contrast
description: High contrast theme for maximum visibility.
type: dark
preview_style: background-color: #000000; color: #ffffff; border: 1px solid #ffffff;
*/
[data-theme="high-contrast"] {
  --piggy-main: #000000;
  --piggy-light: #ffffff;
  --piggy-neutral: #7f7f7f;
  --piggy-dark: #ffffff;

  --piggy-code: #ffffff;
  --piggy-code-bg: #161616;

  --piggy-text-main: var(--piggy-light);
  --piggy-shadow-text: rgba(255, 255, 255, 0);

  --piggy-card-start: #111;
  --piggy-card-end: #111;
  --piggy-card-border: #ff00ff;
  --piggy-text-card: #ffffff;

  /* Assignment cards */
  --piggy-assignment-card-border: #ff7b00;

  --piggy-information-card-border: #00b7ff;

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: #000000;
  --piggy-navbar-end: #000000;
  --piggy-text-navbar: #ffffff;

  --piggy-button: #000;
  --piggy-button-hover: #999;
  --piggy-button-active: #00ffff80;
  --piggy-text-button: #fff;

  --piggy-thumbnail-overlay: rgba(0, 0, 0, 1);
  --piggy-text-thumbnail: var(--piggy-light);

  --piggy-text-tag: #ffffff;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: var(--piggy-light);
  --piggy-text-breadcrumb: var(--piggy-light);
  --piggy-text-breadcrumb-hover: #ffff00;

  --piggy-text-hyperlink: #00ffff;
  --piggy-text-hyperlink-hover: #99ffff;

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  /* info boxes */
  --piggy-info-box-background: #000000;
  --piggy-info-box-border: #00b7ff;

  --piggy-header-border: #ffffff;

  /* logo */
  --piggy-logo: #ff44ff;
  --piggy-logo-gradient: #ff44ff;
  --piggy-logo-border: rgba(0, 0, 0, 0);

  --piggy-content-h1: #ff0000;
  --piggy-content-h2: #ffff00;
  --piggy-content-h3: #00ff00;
  --piggy-content-h4: #00ffff;
  --piggy-content-h5: #ff00ff;
  --piggy-content-h6: #ffffff;

  --piggy-header-bg-h1: rgba(255, 0, 0, 0.1);
  --piggy-header-bg-h2: rgba(255, 255, 0, 0.1);
  --piggy-header-bg-h3: rgba(0, 255, 0, 0.1);
  --piggy-header-bg-h4: rgba(0, 255, 255, 0.1);
  --piggy-header-bg-h5: rgba(255, 0, 255, 0.1);
  --piggy-header-bg-h6: rgba(255, 255, 255, 0.1);
}

[data-theme="high-contrast"] .card-container {
  border-radius: 5px;
  margin: 5px;
}

[data-theme="high-contrast"] .thumbnail-image {
  border-radius: 5px;
  border-width: var(--piggy-card-border-width);
  border-color: #ff0000;
  background-color: #000;
  padding: 5px;
}

[data-theme="high-contrast"] .thumbnail-text-overlay {
  border-radius: 0px;
  border-width: var(--piggy-card-border-width);
  border-color: #00ff00;
  position: relative;
  margin-top: 5px;
}

[data-theme="high-contrast"] .tag-box {
  border-radius: 5px;
  background-color: transparent !important;
  border-width: var(--piggy-card-border-width);
  margin-top: 5px;
  filter: saturate(10) brightness(100);
}

[data-theme="high-contrast"] .piggy-navbar {
  border-bottom: var(--piggy-card-border-width) solid white;
}

[data-theme="high-contrast"] #meta-container {
  border-bottom: var(--piggy-card-border-width) solid white;
}

[data-theme="high-contrast"] .snout-button {
  border-width: var(--piggy-card-border-width);
  border-radius: 0px !important;
}

[data-theme="high-contrast"] .level-button {
  border-radius: 5px !important;
  border-width: 0px;
}

[data-theme="high-contrast"] .level-count-container {
  border-radius: 5px;
  border-width: var(--piggy-card-border-width);
  border-color: #ffff00;
  margin-bottom: 5px;
  color: #fff;
  background-color: #000;
}

[data-theme="high-contrast"] #settings-menu {
  background-color: black;
  border-left: 4px solid white;
}

[data-theme="high-contrast"] #theme-select option {
  background-color: black;
}

[data-theme="high-contrast"] .settings-option {
  border-width: 3px;
  border-radius: 0px;
}

[data-theme="high-contrast"] #settings-btn {
  border-radius: 0;
  border-width: 3px;
}

/* Tooltip Text */
[data-theme="high-contrast"] #level-container .nav-tooltip {
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
}

[data-theme="high-contrast"] #level-container .nav-tooltip::after {
  border-width: 0;
}

[data-theme="high-contrast"] #language-container .language-dropdown {
  border-radius: 0px;
  border-width: 1px;
  background-color: black;
}

[data-theme="high-contrast"] #language-container .language-dropdown a {
  border-bottom: 1px solid white;
}

[data-theme="high-contrast"]
  #language-container
  .language-dropdown
  a:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

[data-theme="high-contrast"]
  #language-container
  .language-dropdown
  a:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="high-contrast"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="high-contrast"] .md-content code:not(.md-code__content) {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px !important;
  padding: 1px 5px 1px 5px !important;
}

[data-theme="high-contrast"] .md-content table {
  border: 1px solid white !important;
  border-radius: 5px !important;
}

[data-theme="high-contrast"] .md-content th {
  background-color: black;
}

[data-theme="high-contrast"] .md-content tr:nth-child(odd) td {
  background-color: #0d0d0d;
}

[data-theme="high-contrast"] .md-content tr:nth-child(even) td {
  background-color: black;
}

[data-theme="high-contrast"] .md-content details,
[data-theme="high-contrast"] .md-content .tip,
[data-theme="high-contrast"] .md-content .admonition {
  background-color: black;
  color: white;
}

[data-theme="high-contrast"] .md-content .md-code__content {
  border: 1px solid white;
  border-radius: 5px !important;
  background-color: black;
  filter: contrast(1.35);
}

[data-theme="high-contrast"] .md-content .tabbed-set {
  border: 1px solid white;
  border-radius: 5px !important;
  background: #00000000;
}

[data-theme="high-contrast"] .md-content .tabbed-labels::before {
  background-color: #ffffff18 !important;
}

[data-theme="high-contrast"] .search-input {
  border: 1px solid white;
  border-radius: 5px;
}

/* POTENTIAL COLORS FOR CODE?
[data-theme="high-contrast"] .md-content .md-code__content .nt {
  color: #ff0000;
}

[data-theme="high-contrast"] .md-content .md-code__content .k {
  color: #6a5acd;
}

[data-theme="high-contrast"] .md-content .md-code__content .p {
  color: #ff69b4;
}

[data-theme="high-contrast"] .md-content .md-code__content .n {
  color: #ffff00;
}

[data-theme="high-contrast"] .md-content .md-code__content .mh {
  color: #00ff00;
}

[data-theme="high-contrast"] .md-content .md-code__content .mi {
  color: #f4a460;
}

[data-theme="high-contrast"] .md-content .md-code__content .kt {
  color: #0000ff;
}

[data-theme="high-contrast"] .md-content .md-code__content .nd {
  color: #ff00ff;
}

[data-theme="high-contrast"] .md-content .md-code__content .nc {
  color: #90ee90;
}

[data-theme="high-contrast"] .md-content .md-code__content .kc {
  color: #87cefa;
}

[data-theme="high-contrast"] .md-content .md-code__content span {
  color: #ffffff;
}
*/

/************************\
|*     DETAIL BOXES     *|
\************************/

/* NOTE, ABSTRACT, INFO, TIP - [CYAN] */
[data-theme="high-contrast"] .md-content :is(details, .admonition) {
  border: 1px solid !important;
  border-radius: 5px !important;
}

[data-theme="high-contrast"] .md-content :is(.note, .abstract, .info, .tip) {
  border-color: #00ffff !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.note, .abstract, .info, .tip)
  summary {
  background-color: #00ffff20 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.note, .abstract, .info, .tip)
  summary::after {
  color: #00ffff !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.note, .abstract, .info, .tip)
  :is(summary, .admonition-title)::before {
  filter: brightness(0) saturate(100%) invert(94%) sepia(77%) saturate(7497%)
    hue-rotate(102deg) brightness(109%) contrast(101%);
}

/* SUCCESS, QUESTION [GREEN] */
[data-theme="high-contrast"] .md-content :is(.success, .question) {
  border-color: #00ff00 !important;
}

[data-theme="high-contrast"] .md-content :is(.success, .question) summary {
  background-color: #00ff0020 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.success, .question)
  summary::after {
  color: #00ff00 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.success, .question)
  :is(summary, .admonition-title)::before {
  filter: brightness(0) saturate(100%) invert(72%) sepia(48%) saturate(7500%)
    hue-rotate(84deg) brightness(127%) contrast(115%);
}

/* WARNING, FAILURE [ORANGE] */
[data-theme="high-contrast"] .md-content :is(.warning, .failure) {
  border-color: #ff5b00 !important;
}

[data-theme="high-contrast"] .md-content :is(.warning, .failure) summary {
  background-color: #ff5b0020 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.warning, .failure)
  summary::after {
  color: #ff5b00 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.warning, .failure)
  :is(summary, .admonition-title)::before {
  filter: brightness(0) saturate(100%) invert(38%) sepia(49%) saturate(3030%)
    hue-rotate(1deg) brightness(103%) contrast(106%);
}

/* DANGER, BUG [RED] */
/* WARNING, FAILURE [ORANGE] */
[data-theme="high-contrast"] .md-content :is(.danger, .bug) {
  border-color: #ff0000 !important;
}

[data-theme="high-contrast"] .md-content :is(.danger, .bug) summary {
  background-color: #ff000020 !important;
}

[data-theme="high-contrast"] .md-content :is(.danger, .bug) summary::after {
  color: #ff0000 !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.danger, .bug)
  :is(summary, .admonition-title)::before {
  filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(6855%)
    hue-rotate(6deg) brightness(101%) contrast(124%);
}

/* EXAMPLE [MAGENTA] */
[data-theme="high-contrast"] .md-content :is(.example) {
  border-color: #ff00ff !important;
}

[data-theme="high-contrast"] .md-content :is(.example) summary {
  background-color: #ff00ff20 !important;
}

[data-theme="high-contrast"] .md-content :is(.example) summary::after {
  color: #ff00ff !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.example)
  :is(summary, .admonition-title)::before {
  filter: brightness(0) saturate(100%) invert(17%) sepia(75%) saturate(5424%)
    hue-rotate(294deg) brightness(116%) contrast(122%);
}

/* QUOTE [WHITE] */
[data-theme="high-contrast"] .md-content :is(.quote) {
  border-color: #ffffff !important;
}

[data-theme="high-contrast"] .md-content :is(.quote) summary {
  background-color: #ffffff20 !important;
}

[data-theme="high-contrast"] .md-content :is(.quote) summary::after {
  color: #ffffff !important;
}

[data-theme="high-contrast"]
  .md-content
  :is(.quote)
  :is(summary, .admonition-title)::before {
  filter: grayscale() brightness(2);
}
