/* METADATA
id: 1
name: Light
description: The default light theme.
type: light
preview_style: background-color: rgb(225, 225, 225); color: rgb(60, 60, 60);
*/

[data-theme="light"] {
  --piggy-main: rgb(225, 225, 225);
  --piggy-light: #fefefe;
  --piggy-neutral: #757575;
  --piggy-dark: rgb(60, 60, 60);

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(0, 0, 0, 0);
  --piggy-shadow-box: #00000011;
  --piggy-shadow-glow: rgba(0, 0, 0, 0.2);

  --piggy-card-start: rgba(255, 255, 255, 1);
  --piggy-card-end: rgba(245, 245, 245, 1);
  --piggy-card-border: #999999;
  --piggy-text-card: #333333;

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255, 152, 0, 0.3);
  --piggy-assignment-card-end: rgba(245, 124, 0, 0.3);
  --piggy-assignment-card-border: #f57c00;
  --piggy-assignment-overlay: rgba(245, 124, 0, 0.8);
  --piggy-assignment-accent: #f57c00;
  --piggy-assignment-shadow-glow: rgba(245, 124, 0, 0.5);

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: rgb(210, 210, 210);
  --piggy-navbar-end: rgb(190, 190, 190);
  --piggy-text-navbar: #333333;

  --piggy-button: #d0d4e8;
  --piggy-button-hover: #b2b8d4;
  --piggy-button-active: #96beee;
  --piggy-text-button: #333333;

  --piggy-thumbnail-overlay: rgba(255, 255, 255, 0.7);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: #4a4a4a;
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: var(--piggy-dark);

  --piggy-menu: var(--piggy-light);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #316997;
  --piggy-text-hyperlink-hover: #316997;

  --piggy-logo-border: rgba(50, 0, 50, 0.5);
}

[data-theme="light"] .level-count-container {
  color: var(--piggy-dark);
  background-color: var(--piggy-main);
}

[data-theme="light"] .settings-option {
  color: var(--piggy-dark);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="light"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="light"] .md-content code:not(.md-code__content) {
  background-color: #c7c7c7;
  color: #333;
}

[data-theme="light"] .md-content .md-code__content {
  filter: invert() hue-rotate(210deg) contrast(1.45);
  border: 1px solid #6d6f78;
}

[data-theme="light"] .md-content table {
  border: 1px solid #555 !important;
}

[data-theme="light"] .md-content th {
  background-color: #d0d4e8;
}

[data-theme="light"] .md-content tr:nth-child(odd) td {
  background-color: #e9e9e9;
}

[data-theme="light"] .md-content tr:nth-child(even) td {
  background-color: #dadada;
}

[data-theme="light"] .md-content details,
[data-theme="light"] .md-content .tip,
[data-theme="light"] .md-content .admonition {
  background-color: #f4f4f4;
  color: var(--piggy-dark);
}

[data-theme="light"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #8888883a !important;
}
