/* METADATA
id: 1
name: Light
description: The default light theme.
type: light
preview_style: background: linear-gradient(90deg, #ffffff, rgb(240, 240, 240)); color: rgb(23, 23, 23); text-shadow: none;
*/

[data-theme="light"] {
  --piggy-main: rgb(247, 247, 247);
  --piggy-light: rgb(255, 255, 255);
  --piggy-neutral: #757575;
  --piggy-dark: rgb(23, 23, 23);

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(0, 0, 0, 0);
  --piggy-shadow-box: #00000015;
  --piggy-shadow-glow: rgba(0, 0, 0, 0.1);

  --piggy-card-start: rgb(255, 255, 255);
  --piggy-card-end: rgb(240, 240, 240);
  --piggy-card-border: #b1b1b1;
  --piggy-text-card: var(--piggy-dark);

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255, 210, 142, 0.5);
  --piggy-assignment-card-end: rgba(255, 128, 0, 0.5);
  --piggy-assignment-card-border: rgba(223, 125, 27, 0.75);
  --piggy-assignment-overlay: rgba(245, 124, 0, 0.8);
  --piggy-assignment-accent: #f57c00;
  --piggy-assignment-shadow-glow: rgba(245, 124, 0, 0.5);

    /* Information cards */
  --piggy-information-card-start: rgba(138, 203, 255, 0.5);
  --piggy-information-card-end: rgba(63, 139, 214, 0.5);
  --piggy-information-card-border: rgba(64, 129, 170, 0.75);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(0, 150, 255, 0.6);

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: rgb(225, 225, 225);
  --piggy-navbar-end: rgb(225, 225, 225);
  --piggy-text-navbar: #333333;

  --piggy-button: rgb(213, 206, 243);
  --piggy-button-hover: rgb(175, 168, 209);
  --piggy-button-active: rgb(190, 149, 255);
  --piggy-text-button: var(--piggy-dark);

  --piggy-thumbnail-overlay: rgba(255, 255, 255, 0.7);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: var(--piggy-dark);
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: #757575;

  --piggy-menu: var(--piggy-light);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: var(--piggy-dark);
  --piggy-tooltip-text: var(--piggy-light);

  --piggy-text-hyperlink: #2885d1;
  --piggy-text-hyperlink-hover: rgb(39, 80, 114);

  /* level container */
  --piggy-level-container-text: var(--piggy-dark);
  --piggy-level-container: rgb(168, 190, 233);
  --piggy-level-container-border: rgba(0, 0, 0, 0);

  /* info boxes */
  --piggy-info-box-background: #00a3c255;
  --piggy-info-box-border: #00bcd4;

  /* logo */
  --piggy-logo: #ff9abc;
  --piggy-logo-gradient: linear-gradient(45deg, #ff72a8, #ff5a8f, #c03db9);
  --piggy-logo-border: rgba(50, 0, 50, 0.5);
}

[data-theme="light"] .settings-option {
  color: var(--piggy-dark);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="light"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="light"] .md-content code:not(.md-code__content) {
  background-color: #c7c7c7;
  color: #333;
}

[data-theme="light"] .md-content .md-code__content {
  filter: invert() hue-rotate(210deg) contrast(1.45);
  border: 1px solid #6d6f78;
}

[data-theme="light"] .md-content table {
  border: 1px solid #555 !important;
}

[data-theme="light"] .md-content th {
  background-color: #d0d4e8;
}

[data-theme="light"] .md-content tr:nth-child(odd) td {
  background-color: #e9e9e9;
}

[data-theme="light"] .md-content tr:nth-child(even) td {
  background-color: #dadada;
}

[data-theme="light"] .md-content details,
[data-theme="light"] .md-content .tip,
[data-theme="light"] .md-content .admonition {
  background-color: #f4f4f4;
  color: var(--piggy-dark);
}

[data-theme="light"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #8888883a !important;
}

[data-theme="light"] .md-clipboard {
  color: var(--piggy-dark) !important;
}

[data-theme="light"] .md-clipboard:hover {
  color: var(--piggy-neutral) !important;
}