/* METADATA
id: 8
name: Matrix
description: A theme inspired by the green hues of "The Matrix" movies.
type: dark
preview_style: background: linear-gradient(90deg, #000000, #004400); color: #00ff00; text-shadow: none;
*/

[data-theme="matrix"] {
  /* Piggy colors */
  --piggy-main: #000000;
  --piggy-light: #00ff00;
  --piggy-neutral: #008800;
  --piggy-dark: #004400;

  --piggy-text-main: var(--piggy-light);
  --piggy-text-light: var(--piggy-light);
  --piggy-text-neutral: var(--piggy-neutral);
  --piggy-text-dark: var(--piggy-dark);

  --piggy-shadow-text: #003300;
  --piggy-shadow-box: #002200;
  --piggy-shadow-glow: rgba(0, 255, 0, 0.2);

  /* Piggy card colors */
  --piggy-card-start: rgba(0, 20, 0, 0.7);
  --piggy-card-end: rgba(0, 40, 0, 0.7);
  --piggy-card-border: #00bb00;
  --piggy-text-card: var(--piggy-text-light);

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(0, 255, 191, 0.3);
  --piggy-assignment-card-end: rgba(0, 255, 191, 0.1);
  --piggy-assignment-card-border: rgb(0, 255, 191);
  --piggy-assignment-overlay: rgba(0, 255, 191, 0.8);
  --piggy-assignment-accent: #00ffff;
  --piggy-assignment-shadow-glow: rgba(47, 58, 58, 0.5);

  --piggy-assignment-text: rgb(111, 255, 219);

  --piggy-card-border-width: 1px;

    /* Information cards */
  --piggy-information-card-start: rgba(0, 98, 179, 0.384);
  --piggy-information-card-end: rgba(0, 100, 200, 0.35);
  --piggy-information-card-border: rgba(0, 156, 255, 0.5);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(0, 150, 255, 0.6);

  /* Piggy elements */
  --piggy-navbar-start: #001900;
  --piggy-navbar-end: #001100;
  --piggy-text-navbar: var(--piggy-light);

  --piggy-button: #004400;
  --piggy-button-hover: #008800;
  --piggy-button-active: #002200;
  --piggy-text-button: #00ff00;

  --piggy-thumbnail-overlay: #00330077;
  --piggy-text-thumbnail: var(--piggy-light);

  --piggy-text-tag: #00ff00;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: var(--piggy-light);
  --piggy-text-breadcrumb: var(--piggy-light);
  --piggy-text-breadcrumb-hover: #00cc00;

  --piggy-menu: var(--piggy-main);
  --piggy-menu-text: var(--piggy-light);

  --piggy-tooltip: #001100;
  --piggy-tooltip-text: #00ff00;

  --piggy-text-hyperlink: #00ffff;
  --piggy-text-hyperlink-hover: #99ffff;

  --piggy-logo: rgb(154, 255, 159);
  --piggy-logo-gradient: linear-gradient(45deg, rgb(137, 255, 216), rgb(0, 255, 85), rgb(30, 255, 0));
  --piggy-logo-border: rgba(0, 0, 0, 0.65);

  /* info boxes */
  --piggy-info-box-background: #00a3c255;
  --piggy-info-box-border: #00bcd4;

  /* level container */
  --piggy-level-container-text: var(--piggy-light);
  --piggy-level-container: rgb(0, 0, 0);
  --piggy-level-container-border: rgba(0, 255, 0, 1);
}

[data-theme="matrix"] .card-container {
  border-radius: 0.25rem;
}

[data-theme="matrix"] .thumbnail-image {
  border-radius: 0.25rem !important;
  box-shadow: var(--piggy-assignment-shadow-glow) !important;
}

[data-theme="matrix"] 
  .card-assignment .description-container,
  .card-assignment .card-title {
  color: var(--piggy-assignment-text) !important;
}

[data-theme="matrix"] .card-assignment .description-container {
  border-color: var(--piggy-assignment-text) !important;
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/

[data-theme="matrix"] .md-content, .md-code__content {
  border-radius: 0.25rem !important;
}

[data-theme="matrix"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="matrix"] .md-content code:not(.md-code__content) {
  background-color: #001100;
  color: #00ff00;
}

[data-theme="matrix"] .md-content .md-code__content {
  filter: contrast(1.35);
  border: 1px solid #00ff00;
  background-color: black;
}

[data-theme="matrix"] .md-content table {
  border: 1px solid #006600 !important;
}

[data-theme="matrix"] .md-content th {
  background-color: #002200;
}

[data-theme="matrix"] .md-content tr:nth-child(odd) td {
  background-color: #001100;
}

[data-theme="matrix"] .md-content tr:nth-child(even) td {
  background-color: #000000;
}

[data-theme="matrix"] .md-content details,
[data-theme="matrix"] .md-content .tip,
[data-theme="matrix"] .md-content .admonition {
  background-color: #001100;
  color: #00ff00;
}

[data-theme="matrix"] .md-content .tabbed-labels::before {
  border-color: #00ff00;
  background-color: rgba(0, 255, 0, 0.2) !important;
}

[data-theme="matrix"] .md-content .tabbed-set {
  background: #001100;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: blur(1px);
}

[data-theme="matrix"] .background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

[data-theme="matrix"] .md-content {
  border: 1px solid #00ff00;
  border-radius: 0.5rem;
  background-color: #000000ee;
}