/* METADATA
id: 9
name: Ocean
description: A theme inspired by the serene blues and teals of the ocean.
type: dark
preview_style: background: linear-gradient(90deg, #002b36, #336b87); color: #a7d8e6; text-shadow: none;
*/

[data-theme="ocean"] {
  /* General colors */
  --piggy-main: #002b36;
  --piggy-light: #a7d8e6;
  --piggy-neutral: #336b87;
  --piggy-dark: #001f27;

  --piggy-code: #84cde2;
  --piggy-code-bg: #0e3c48;

  --piggy-text-main: var(--piggy-light);
  --piggy-text-light: #d8f3f8;
  --piggy-text-neutral: var(--piggy-neutral);
  --piggy-text-dark: #89bdd3;

  --piggy-shadow-text: rgba(0, 43, 54, 0.2);
  --piggy-shadow-box: rgba(0, 43, 54, 0.3);
  --piggy-shadow-glow: rgba(136, 192, 208, 0.3);

  /* Card colors */
  --piggy-card-start: rgba(0, 85, 102, 0.5);
  --piggy-card-end: rgba(0, 115, 135, 0.5);
  --piggy-card-border: #88c0d0;
  --piggy-text-card: var(--piggy-text-light);

  --piggy-assignment-card-start: rgba(255,127,80,0.4);
  --piggy-assignment-card-end: rgba(255,99,71,0.2);
  --piggy-assignment-card-border: #FF6347;
  --piggy-assignment-overlay: rgba(255,99,71,0.8);
  --piggy-assignment-accent: #FF6347;
  --piggy-assignment-shadow-glow: rgba(255,99,71,0.5);

  --piggy-card-border-width: 1px;

  /* Information cards */
  --piggy-information-card-start: rgba(0, 98, 179, 0.384);
  --piggy-information-card-end: rgba(0, 100, 200, 0.35);
  --piggy-information-card-border: rgba(0, 156, 255, 0.5);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(0, 150, 255, 0.6);

  /* Navbar */
  --piggy-navbar-start: #003b4d;
  --piggy-navbar-end: #004f63;
  --piggy-text-navbar: var(--piggy-light);

  /* Buttons */
  --piggy-button: #005f73;
  --piggy-button-hover: #007f9b;
  --piggy-button-active: #004f63;
  --piggy-text-button: #ffffff;

  /* Thumbnails */
  --piggy-thumbnail-overlay: rgba(0, 43, 54, 0.5);
  --piggy-text-thumbnail: var(--piggy-light);

  /* Text and links */
  --piggy-text-tag: #88c0d0;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: var(--piggy-light);
  --piggy-text-breadcrumb: var(--piggy-light);
  --piggy-text-breadcrumb-hover: #b3ecf0;

  --piggy-menu: var(--piggy-main);
  --piggy-menu-text: var(--piggy-light);

  --piggy-tooltip: #003b4d;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #4172b2;
  --piggy-text-hyperlink-hover: #83c1d9;

  --piggy-logo-gradient: linear-gradient(45deg, rgb(255, 143, 231), rgb(80, 162, 255), rgb(0, 38, 255));
  --piggy-logo-border: rgba(0, 0, 0, 0.65);

  /* info boxes */
  --piggy-info-box-background: #007e9755;
  --piggy-info-box-border: #00bcd4;

  /* level container */
  --piggy-level-container-text: var(--piggy-light);
  --piggy-level-container: rgb(23, 40, 82);
  --piggy-level-container-border: rgba(0, 0, 0, 0);

  --piggy-header-border: #ffffff;

  --piggy-content-h1: #7da3ba;
  --piggy-content-h2: #7da3ba;
  --piggy-content-h3: #7da3ba;
  --piggy-content-h4: #7da3ba;
  --piggy-content-h5: #7da3ba;
  --piggy-content-h6: #7da3ba;

  --piggy-header-bg-h1: #7da3ba20;
  --piggy-header-bg-h2: #7da3ba20;
  --piggy-header-bg-h3: #7da3ba20;
  --piggy-header-bg-h4: #7da3ba20;
  --piggy-header-bg-h5: #7da3ba20;
  --piggy-header-bg-h6: #7da3ba20;
}

[data-theme="ocean"] .assignment-card-grid-container .card-container * {
  color: var(--piggy-) !important;
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/

[data-theme="ocean"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="ocean"] .md-content code:not(.md-code__content) {
  background-color: #001219;
  color: #d8f3f8;
}

[data-theme="ocean"] .md-content .md-code__content {
  background-color: #000a0f;
  color: #d8f3f8;
  border: 1px solid #002b36;
}

[data-theme="ocean"] .md-content table {
  border: 1px solid #336b87 !important;
}

[data-theme="ocean"] .md-content th {
  background-color: #004f63;
}

[data-theme="ocean"] .md-content tr:nth-child(odd) td {
  background-color: rgba(0, 70, 80, 0.5);
}

[data-theme="ocean"] .md-content tr:nth-child(even) td {
  background-color: rgba(0, 90, 100, 0.5);
}

[data-theme="ocean"] .md-content details,
[data-theme="ocean"] .md-content .tip,
[data-theme="ocean"] .md-content .admonition {
  background-color: #002b36;
  color: var(--piggy-light);
}

[data-theme="ocean"] .md-content .tabbed-labels::before {
  border-color: #88c0d0;
  background-color: rgba(136, 192, 208, 0.2) !important;
}

[data-theme="ocean"] .md-content .tabbed-set {
  background: #002b36;
}

[data-theme="ocean"] .md-content {
  border: 1px solid var(--piggy-light);
  border-radius: 0.5rem;
  background-color: #00000044;
}