/* METADATA
id: 8
name: Ocean
description: A theme inspired by the serene blues and teals of the ocean.
type: dark
preview_style: background-color: #002b36; color: #88c0d0;
*/

[data-theme="ocean"] {
  /* General colors */
  --piggy-main: #002b36;
  --piggy-light: #88c0d0;
  --piggy-neutral: #336b87;
  --piggy-dark: #001f27;

  --piggy-text-main: var(--piggy-light);
  --piggy-text-light: #d8f3f8;
  --piggy-text-neutral: var(--piggy-neutral);
  --piggy-text-dark: #89bdd3;

  --piggy-shadow-text: rgba(0, 43, 54, 0.2);
  --piggy-shadow-box: rgba(0, 43, 54, 0.3);
  --piggy-shadow-glow: rgba(136, 192, 208, 0.3);

  /* Card colors */
  --piggy-card-start: rgba(0, 85, 102, 0.5);
  --piggy-card-end: rgba(0, 115, 135, 0.5);
  --piggy-card-border: #88c0d0;
  --piggy-text-card: var(--piggy-text-light);

  --piggy-assignment-card-start: rgba(255,127,80,0.4);
  --piggy-assignment-card-end: rgba(255,99,71,0.2);
  --piggy-assignment-card-border: #FF6347;
  --piggy-assignment-overlay: rgba(255,99,71,0.8);
  --piggy-assignment-accent: #FF6347;
  --piggy-assignment-shadow-glow: rgba(255,99,71,0.5);

  --piggy-card-border-width: 1px;

  /* Navbar */
  --piggy-navbar-start: #003b4d;
  --piggy-navbar-end: #004f63;
  --piggy-text-navbar: var(--piggy-light);

  /* Buttons */
  --piggy-button: #005f73;
  --piggy-button-hover: #007f9b;
  --piggy-button-active: #004f63;
  --piggy-text-button: #ffffff;

  /* Thumbnails */
  --piggy-thumbnail-overlay: rgba(0, 43, 54, 0.5);
  --piggy-text-thumbnail: var(--piggy-light);

  /* Text and links */
  --piggy-text-tag: #88c0d0;
  --piggy-text-description: var(--piggy-light);
  --piggy-text-title: var(--piggy-light);
  --piggy-text-breadcrumb: var(--piggy-light);
  --piggy-text-breadcrumb-hover: #b3ecf0;

  --piggy-menu: var(--piggy-main);
  --piggy-menu-text: var(--piggy-light);

  --piggy-tooltip: #003b4d;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #4172b2;
  --piggy-text-hyperlink-hover: #83c1d9;
}

[data-theme="ocean"] .assignment-card-grid-container .card-container * {
  color: var(--piggy-) !important;
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/

[data-theme="ocean"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="ocean"] .md-content code:not(.md-code__content) {
  background-color: #001219;
  color: #d8f3f8;
}

[data-theme="ocean"] .md-content .md-code__content {
  background-color: #000a0f;
  color: #d8f3f8;
  border: 1px solid #002b36;
}

[data-theme="ocean"] .md-content table {
  border: 1px solid #336b87 !important;
}

[data-theme="ocean"] .md-content th {
  background-color: #004f63;
}

[data-theme="ocean"] .md-content tr:nth-child(odd) td {
  background-color: rgba(0, 70, 80, 0.5);
}

[data-theme="ocean"] .md-content tr:nth-child(even) td {
  background-color: rgba(0, 90, 100, 0.5);
}

[data-theme="ocean"] .md-content details,
[data-theme="ocean"] .md-content .tip,
[data-theme="ocean"] .md-content .admonition {
  background-color: #002b36;
  color: var(--piggy-light);
}

[data-theme="ocean"] .md-content .tabbed-labels::before {
  border-color: #88c0d0;
  background-color: rgba(136, 192, 208, 0.2) !important;
}

[data-theme="ocean"] .md-content .tabbed-set {
  background: #002b36;
}

[data-theme="ocean"] .md-content {
  border: 1px solid var(--piggy-light);
  border-radius: 0.5rem;
  background-color: #00000044;
}