/* METADATA
id: 3
name: Piggy (Dark)
description: A dark pink theme.
type: dark
preview_style: background-color: #2e1f24; color: #f0e1e4;
*/

[data-theme="piggy-dark"] {
  --piggy-main: #2e1f24;
  --piggy-light: #3d2a30;
  --piggy-neutral: #8a767c;
  --piggy-dark: #f0e1e4;

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(255, 255, 255, 0.025);
  --piggy-shadow-box: #ffffff11;
  --piggy-shadow-glow: rgba(255, 255, 255, 0.2);

  --piggy-card-start: rgba(74, 53, 61, 1);
  --piggy-card-end: rgba(60, 40, 47, 1);
  --piggy-card-border: #a06672;
  --piggy-text-card: var(--piggy-dark);

  --piggy-assignment-card-start: rgba(192,133,142,0.3);
  --piggy-assignment-card-end: rgba(160,100,114,0.3);
  --piggy-assignment-card-border: #a06472;
  --piggy-assignment-overlay: rgba(160,100,114,0.85);
  --piggy-assignment-accent: #a06472;
  --piggy-assignment-shadow-glow: rgba(160,100,114,0.5);
  
  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: #4b3039;
  --piggy-navbar-end: #3d2a30;
  --piggy-text-navbar: #ffffff;

  --piggy-button: #a06672;
  --piggy-button-hover: #c0858e;
  --piggy-button-active: #d37381;
  --piggy-text-button: #ffffff;

  --piggy-thumbnail-overlay: rgba(0, 0, 0, 0.5);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: #f0e1e4;
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: #f0e1e4;

  --piggy-menu: var(--piggy-light);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #407eb1;
  --piggy-text-hyperlink-hover: #89b8df;

  --piggy-logo-border: rgba(1, 1, 1, 0.6);
}

[data-theme="piggy-dark"] .level-count-container {
  color: var(--piggy-light);
  background-color: var(--piggy-dark);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="piggy-dark"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="piggy-dark"] .md-content code:not(.md-code__content) {
  background-color: #4e3a3e;
  color: #dfbfc6;
}

[data-theme="piggy-dark"] .md-content .md-code__content {
  filter: hue-rotate(115deg);
  border: 1px solid #676a74;
}

[data-theme="piggy-dark"] .md-content table {
  border: 1px solid #301c1f !important;
}

[data-theme="piggy-dark"] .md-content th {
  background-color: #75434d;
}

[data-theme="piggy-dark"] .md-content tr:nth-child(odd) td {
  background-color: #533037;
}

[data-theme="piggy-dark"] .md-content tr:nth-child(even) td {
  background-color: #42262a;
}

[data-theme="piggy-dark"] .md-content details,
[data-theme="piggy-dark"] .md-content .tip,
[data-theme="piggy-dark"] .md-content .admonition {
  background-color: #271a1d;
  color: var(--piggy-dark);
}

[data-theme="piggy-dark"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #0000004a !important;
}

[data-theme="piggy-dark"] .md-content .tabbed-set {
  background: #ffffff0a;
}

[data-theme="piggy-dark"] .md-clipboard {
  color: var(--piggy-dark) !important;
}

[data-theme="piggy-dark"] .md-clipboard:hover {
  color: var(--piggy-neutral) !important;
}