/* METADATA
id: 3
name: Piggy (Dark)
description: A dark pink theme.
type: dark
preview_style: background: linear-gradient(90deg, #1f1518, #3d2a30); color: #ece2e4; text-shadow: none;
*/

[data-theme="piggy-dark"] {
  --piggy-main: #1f1518;
  --piggy-light: #3d2a30;
  --piggy-neutral: #8a767c;
  --piggy-dark: #ece2e4;

  --piggy-code: #e9cbe1;
  --piggy-code-bg: #3f3036;

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(255, 255, 255, 0.025);
  --piggy-shadow-box: rgba(63, 44, 51, 0.342);
  --piggy-shadow-glow: rgba(80, 158, 90, 0.2);

  --piggy-card-start: rgba(74, 53, 61, 1);
  --piggy-card-end: rgba(60, 40, 47, 1);
  --piggy-card-border: #a06672;
  --piggy-text-card: var(--piggy-dark);

  --piggy-assignment-card-start: rgba(192,133,142,0.3);
  --piggy-assignment-card-end: rgba(160,100,114,0.3);
  --piggy-assignment-card-border: #a06472;
  --piggy-assignment-overlay: rgba(160,100,114,0.85);
  --piggy-assignment-accent: #a06472;
  --piggy-assignment-shadow-glow: rgba(160,100,114,0.5);
  
  /* Information cards */
  --piggy-information-card-start: rgba(0, 98, 179, 0.384);
  --piggy-information-card-end: rgba(0, 100, 200, 0.35);
  --piggy-information-card-border: rgba(0, 156, 255, 0.5);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(128, 74, 87, 0.5);

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: #4b3039;
  --piggy-navbar-end: #3d2a30;
  --piggy-text-navbar: #ffffff;

  --piggy-button: #a06672;
  --piggy-button-hover: #c0858e;
  --piggy-button-active: #d37381;
  --piggy-text-button: #ffffff;

  --piggy-thumbnail-overlay: rgba(0, 0, 0, 0.5);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: #f0e1e4;
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: #94898b;

  --piggy-menu: var(--piggy-light);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #407eb1;
  --piggy-text-hyperlink-hover: #89b8df;

  --piggy-logo-border: rgba(1, 1, 1, 0.6);

  --piggy-level-container-text: var(--piggy-dark);
  --piggy-level-container: rgb(68, 30, 41);
  --piggy-level-container-border: rgba(0, 0, 0, 0);

  /* info boxes */
  --piggy-info-box-background: #00a3c255;
  --piggy-info-box-border: #00bcd4;

  /* logo */
  --piggy-logo: #ff9abc;
  --piggy-logo-gradient: linear-gradient(45deg, #ffc1d8, #ff5a8f, #c03db9);
  --piggy-logo-border: rgba(0, 0, 0, 0.6);

  --piggy-header-border: #ffffff;

  --piggy-content-h1: #ba7da0;
  --piggy-content-h2: #ba7da0;
  --piggy-content-h3: #ba7da0;
  --piggy-content-h4: #ba7da0;
  --piggy-content-h5: #ba7da0;
  --piggy-content-h6: #ba7da0;

  --piggy-header-bg-h1: rgba(186, 125, 160, 0.1);
  --piggy-header-bg-h2: rgba(186, 125, 160, 0.1);
  --piggy-header-bg-h3: rgba(186, 125, 160, 0.1);
  --piggy-header-bg-h4: rgba(186, 125, 160, 0.1);
  --piggy-header-bg-h5: rgba(186, 125, 160, 0.1);
  --piggy-header-bg-h6: rgba(186, 125, 160, 0.1);
}


/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="piggy-dark"] .md-content {
  border: 1px solid #85607caa;
  border-radius: 0.5rem;
}

[data-theme="piggy-dark"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="piggy-dark"] .md-content code:not(.md-code__content) {
  background-color: #4e3a3e;
  color: #dfbfc6;
}

[data-theme="piggy-dark"] .md-content .md-code__content {
  filter: hue-rotate(115deg);
  border: 1px solid #676a74;
}

[data-theme="piggy-dark"] .md-content table {
  border: 1px solid #301c1f !important;
}

[data-theme="piggy-dark"] .md-content th {
  background-color: #75434d;
}

[data-theme="piggy-dark"] .md-content tr:nth-child(odd) td {
  background-color: #533037;
}

[data-theme="piggy-dark"] .md-content tr:nth-child(even) td {
  background-color: #42262a;
}

[data-theme="piggy-dark"] .md-content details,
[data-theme="piggy-dark"] .md-content .tip,
[data-theme="piggy-dark"] .md-content .admonition {
  background-color: #271a1d;
  color: var(--piggy-dark);
}

[data-theme="piggy-dark"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #0000004a !important;
}

[data-theme="piggy-dark"] .md-content .tabbed-set {
  background: #ffffff0a;
}

[data-theme="piggy-dark"] .md-clipboard {
  color: var(--piggy-dark) !important;
}

[data-theme="piggy-dark"] .md-clipboard:hover {
  color: var(--piggy-neutral) !important;
}