/* METADATA
id: 2
name: Piggy
description: Relaxing pastel pink theme.
type: light
preview_style: background: linear-gradient(90deg, #ffe6e9, #ff99cc); color: rgb(20, 20, 20); text-shadow: none;
*/

[data-theme="piggy"] {
  --piggy-main: #ffe6e9;
  --piggy-light: #ffffff;
  --piggy-neutral: #7a6e72;
  --piggy-dark: rgb(20, 20, 20);

  --piggy-text-main: var(--piggy-dark);
  --piggy-shadow-text: rgba(0, 0, 0, 0);
  --piggy-shadow-box: #00000011;
  --piggy-shadow-glow: rgba(0, 0, 0, 0.2);

  /* Card colors */
  --piggy-card-start: rgba(255, 220, 229, 1);
  --piggy-card-end: rgba(255, 220, 229, 1);
  --piggy-card-border: #ff99cc;
  --piggy-text-card: var(--piggy-dark);
  
  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255, 137, 220, 0.5);
  --piggy-assignment-card-end: rgba(255, 170, 230, 0.5);
  --piggy-assignment-card-border: #ff4df0;
  --piggy-assignment-overlay: rgba(255, 77, 109, 0.8);
  --piggy-assignment-accent: #ff4d6d;
  --piggy-assignment-shadow-glow: rgba(255, 77, 109, 0.5);

    /* Information cards */
  --piggy-information-card-start: rgba(138, 203, 255, 0.5);
  --piggy-information-card-end: rgba(63, 139, 214, 0.5);
  --piggy-information-card-border: rgba(64, 129, 170, 0.75);
  --piggy-information-overlay: rgba(0, 150, 255, 0.9);
  --piggy-information-accent: #00aaff;
  --piggy-information-shadow-glow: rgba(0, 150, 255, 0.6);

  --piggy-card-border-width: 1px;

  /* Navbar and buttons */
  --piggy-navbar-start: #ffccd5;
  --piggy-navbar-end: #ff99ac;
  --piggy-text-navbar: #ffffff;

  --piggy-button: #ff99ac;
  --piggy-button-hover: #c97c84;
  --piggy-button-active: #f86f7d;
  --piggy-text-button: var(--piggy-dark);

  --piggy-thumbnail-overlay: rgba(255, 226, 232, 0.7);
  --piggy-text-thumbnail: var(--piggy-dark);

  --piggy-text-tag: #000000;
  --piggy-text-description: var(--piggy-dark);
  --piggy-text-title: var(--piggy-dark);
  --piggy-text-breadcrumb: var(--piggy-dark);
  --piggy-text-breadcrumb-hover: #555555;

  --piggy-font: var("Playpen Sans", sans-serif);

  --piggy-menu: rgb(255, 204, 213);
  --piggy-menu-text: var(--piggy-dark);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #539cd8;
  --piggy-text-hyperlink-hover: #316997;

  /* level container */
  --piggy-level-container-text: var(--piggy-dark);
  --piggy-level-container: rgb(255, 156, 197);
  --piggy-level-container-border: rgba(0, 0, 0, 0);

  /* logo */
  --piggy-logo: #ff9abc;
  --piggy-logo-gradient: linear-gradient(45deg, #ffc1d8, #ff5a8f, #c03db9);
  --piggy-logo-border: rgba(0, 0, 0, 0.6);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="piggy"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="piggy"] .md-content code:not(.md-code__content) {
  background-color: #d3b8ba;
  color: var(--piggy-dark);
}

[data-theme="piggy"] .md-content .md-code__content {
  filter: invert() contrast(1.35) hue-rotate(290deg);
  border: 1px solid #676a74;
}

[data-theme="piggy"] .md-content table {
  border: 1px solid #555 !important;
}

[data-theme="piggy"] .md-content th {
  background-color: #ffb5c3;
}

[data-theme="piggy"] .md-content tr:nth-child(odd) td {
  background-color: rgb(255, 226, 231);
}

[data-theme="piggy"] .md-content tr:nth-child(even) td {
  background-color: rgb(254, 210, 218);
}

[data-theme="piggy"] .md-content details,
[data-theme="piggy"] .md-content .tip,
[data-theme="piggy"] .md-content .admonition {
  background-color: #e0e0e0;
  color: var(--piggy-dark);
}

[data-theme="piggy"] .md-content .tabbed-labels::before {
  border-color: var(--piggy-dark);
  background-color: #ff00002a !important;
}

[data-theme="piggy"] .md-clipboard {
  color: var(--piggy-dark) !important;
}

[data-theme="piggy"] .md-clipboard:hover {
  color: var(--piggy-neutral) !important;
}