/* METADATA
id: 6
name: Synthwave
description: Fancy sunset, purple, neon, gradients!
type: dark
preview_style: background-color: rgb(48, 20, 58); color: #ffcc66;
*/

[data-theme="synthwave"] {
  --piggy-main: rgb(0, 0, 0);
  --piggy-light: #ffd27f;
  --piggy-neutral: #866997;
  --piggy-dark: rgb(48, 20, 58);

  --piggy-text-main: #ffcc66;
  --piggy-text-light: #ff9b9b;
  --piggy-text-dark: #ffcb91;

  --piggy-shadow-text: #ff8c0018;
  --piggy-shadow-box: #ff00a630;
  --piggy-shadow-glow: rgba(255, 140, 0, 0.4);

  /* Piggy sunset card colors */
  --piggy-card-start: rgba(255, 143, 89, 0.3);
  --piggy-card-end: rgba(211, 82, 112, 0.3);
  --piggy-card-border: #ff9b9b;
  --piggy-text-card: var(--piggy-text-light);

  /* Assignment cards */
  --piggy-assignment-card-start: rgba(255,111,0,0.3);
  --piggy-assignment-card-end: rgba(255,87,34,0.3);
  --piggy-assignment-card-border: #FF5722;
  --piggy-assignment-overlay: rgba(255,87,34,0.8);
  --piggy-assignment-accent: #FF5722;
  --piggy-assignment-shadow-glow: rgba(255,87,34,0.5);

  --piggy-card-border-width: 1px;

  /* Piggy sunset elements */
  --piggy-navbar-start: rgb(48, 20, 58);
  --piggy-navbar-end: rgb(34, 18, 48);
  --piggy-text-navbar: var(--piggy-light);

  --piggy-button: #ff6347;
  --piggy-button-hover: #ff8364;
  --piggy-button-active: #d33417;
  --piggy-text-button: #333;

  --piggy-thumbnail-overlay: #00000099;
  --piggy-text-thumbnail: var(--piggy-light);

  --piggy-text-tag: #ffffff;
  --piggy-text-description: var(--piggy-text-main);
  --piggy-text-title: #ffcc66;
  --piggy-text-breadcrumb: var(--piggy-text-main);
  --piggy-text-breadcrumb-hover: #ffd27f;

  --piggy-menu: var(--piggy-dark);
  --piggy-menu-text: var(--piggy-light);

  --piggy-tooltip: #000000;
  --piggy-tooltip-text: #ffffff;

  --piggy-text-hyperlink: #3190b6;
  --piggy-text-hyperlink-hover: #6ab2cf;

  --grid-line-color: #cc00ffaa;
  --grid-background-color: var(--piggy-dark);
}

[data-theme="synthwave"] .main-container {
  background-color: #000000;
}

@keyframes scrollGrid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 200px;
  }
}

[data-theme="synthwave"] .background-overlay {
  height: 200%;
  background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 98%,
      var(--grid-line-color) 99%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent 98%,
      var(--grid-line-color) 99%
    );
  background-size: 2.5rem 2.5rem;
  transform-origin: top center;
  transform: translateY(2%) perspective(40rem) rotateX(77deg);
  animation: scrollGrid 10s linear infinite;
}

[data-theme="synthwave"] .card-container {
  box-shadow: 2px 2px 15px 0 var(--piggy-shadow-box);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

@keyframes boxShadowScroll {
  0% {
    box-shadow: 0px 0px 15px 0 #ff00a6;
    border-color: #ff00a6;
  }
  25% {
    box-shadow: 0px 0px 15px 0 #ff9500;
    border-color: #ff9500;
  }
  50% {
    box-shadow: 0px 0px 15px 0 #00ff33;
    border-color: #00ff33;
  }
  75% {
    box-shadow: 0px 0px 15px 0 #009dff;
    border-color: #009dff;
  }
  100% {
    box-shadow: 0px 0px 15px 0 #ff00a6;
    border-color: #ff00a6;
  }
}

[data-theme="synthwave"] .card-container:hover {
  border-color: #ff00ff;
  transform: perspective(1000px) rotateX(-1deg) rotateY(3deg) rotateZ(1deg)
    scale(98%);
  box-shadow: 0px 0px 15px 0 #ff00a6;
  animation: boxShadowScroll 2s alternate infinite;
  animation-timing-function: linear;
  animation-delay: 0.4s;
}

[data-theme="synthwave"] .settings-option {
  color: var(--piggy-light);
}

[data-theme="synthwave"] #settings-btn {
  color: var(--piggy-light);
}

/******************************\
|*     MARKDOWN OVERRIDES     *|
\******************************/
[data-theme="synthwave"] .md-content .admonition-title {
  font-size: 0.8rem !important;
}

[data-theme="synthwave"] .md-content {
  border: 1px solid #cc00ffaa;
  border-radius: 0.5rem;
  background-color: #000000cc;
}

[data-theme="synthwave"] .md-content code:not(.md-code__content) {
  background-color: #532821;
  color: #f5d1c8;
}

[data-theme="synthwave"] .md-content .md-code__content {
  filter: hue-rotate(140deg) contrast(1.2);
  border: 1px solid #676a74;
}

[data-theme="synthwave"] .md-content th {
  background-color: #832a1b;
}

[data-theme="synthwave"] .md-content tr:nth-child(odd) td {
  background-color: #41140b;
}

[data-theme="synthwave"] .md-content tr:nth-child(even) td {
  background-color: #572118;
}

[data-theme="synthwave"] .md-content details,
[data-theme="synthwave"] .md-content .tip,
[data-theme="synthwave"] .md-content .admonition {
  background-color: #271a1d;
  color: var(--piggy-light);
}

[data-theme="synthwave"] .md-content .tabbed-set {
  border: 1px solid var(--piggy-neutral);
  background: #ffffff0a;
}

[data-theme="synthwave"] .md-content .tabbed-labels::before {
  border-color: #ff3000;
  background-color: #ff37003a !important;
}
