{# Card Container #}
<a
  href="{{ abspath }}/{{ item }}"
  class="card-container block p-3 rounded-lg border border-slate-400"
>
  {# Card Title #}
  <div class="text-2xl font-extrabold text-center pb-2">
    {{ data.meta.name }}
  </div>

  {# Card Thumbnail #}
  <div class="thumbnail-container">
    <img
      class="w-full object-cover rounded-lg shadow-lg thumbnail-image"
      {% if data.meta.thumbnail %}
        src="{{ abspath }}/{{ item }}/{{ data.meta.thumbnail }}"
      {% else %}
        src="{{ url_for('api.generate_thumbnail', text=data.level_name) }}?c={{ data.assignment_name }}"
      {% endif %}
      alt="Header image for {{ item }}"
    />

    <div class="thumbnail-text-overlay">
      Level {{ data.level }} - {{ data.level_name }}
    </div>
  </div>

  {# Card Description #}
  <div class="mt-4 description-container font-semibold">
    {{ data.meta.description }}
  </div>
</a>
