{% from 'objects/card.html' import card %}

{{
  card(
    abspath = abspath,
    item = item ~ "/" ~ (data.data.keys()|list)[0],
    title = data.meta.name,
    level_count = data.data|length,
    description = data.meta.description,
    thumbnail = media_abspath ~ "/" ~ item ~ "/media/header." ~ img_fmt ~ "?title=" ~ data.meta.name,
    thumbnail_alt = "Header image for " ~ item,
    extra_classes = 'card-information card-align-information',
    difficulty = data.meta.difficulty,
    tags = data.meta.tags,
    card_type = 'information',
    show_levels=false,
    show_difficulty=false,
    show_overlay=false,
    show_tags=false,
    show_description=true,
    show_thumbnail=false,
  )
}}
