{%
  macro card(
      overlay_text='',
      difficulty=none,
      tags=none,
      level_count=0,
      extra_classes='',
      abspath='',
      item='',
      item_extended='',
      title='title',
      description='description',
      thumbnail='',
      thumbnail_alt='thumbnail alt',
      show_title=true,
      show_levels=true,
      show_difficulty=true,
      show_overlay=true,
      show_tags=true,
      show_description=true,
      show_thumbnail=true
  )
%}
  <a
    href="{{ abspath }}/{{ item }}"
    class="card card-container {{ extra_classes }}">
    {% if show_title and title %}
      <div class="card-header">
        <div class="card-title">{{ title }}</div>
      </div>
    {% endif %}

    {% if show_thumbnail %}
      <div class="thumbnail-container">
        <div class="thumbnail-loader" aria-hidden="true">
          <div class="loader"></div>
        </div>
        <img
          class="thumbnail-image"
          src="{{ thumbnail }}"
          alt="{{ thumbnail_alt }}"
          loading="lazy" />

        {% if show_levels and level_count and level_count > 1 %}
          <div class="level-count-container">
            {{ level_count }} Level{{ 's' if level_count != 1 }}
          </div>
        {% endif %}

        {% if show_difficulty and difficulty and difficulty|int > 0 %}
          {% if difficulty|int > 5 %}
            {% set difficulty = "5" %}
          {% endif %}
          <img
            class="difficulty-icon difficulty-{{ difficulty|string }}"
            src="{{ url_for('static', filename='img/difficulties/' + difficulty|string + '.png') }}" />
        {% endif %}

        {% if show_overlay and overlay_text %}
          <div class="thumbnail-text-overlay">{{ overlay_text }}</div>
        {% endif %}
      </div>
    {% endif %}

    {# Card Tags #}
    {% if show_tags and tags %}
      <div class="tags-container">
        {% for tag in tags %}
          <span class="tag-box" data-tag="{{ tag }}"> {{ tag }} </span>
        {% endfor %}
      </div>
    {% endif %}

    {% if show_description and description %}
      <div class="description-container">{{ description }}</div>
    {% endif %}
  </a>
{% endmacro %}
