{% from 'objects/card.html' import card %}

{{
  card(
    abspath = abspath,
    item = item,
    title = data.meta.name,
    level_count = data.data|length,
    description = data.meta.description,
    thumbnail = media_abspath ~ "/" ~ item ~ "/media/header." + img_fmt,
    thumbnail_alt = "Header image for " ~ item,
    extra_classes = 'card-type-' + data.meta.type if data.meta.type else '',
    difficulty = data.meta.difficulty,
    tags = data.meta.tags
  )
}}

<script
  src="{{ url_for('static', filename='js/card_script.js') }}"
  defer
></script>
