{%
  macro card(
      overlay_text,
      difficulty,
      tags,
      level_count,
      extra_classes='',
      abspath='',
      item='',
      item_extended='',
      title='title',
      description='description',
      thumbnail='',
      thumbnail_alt='thumbnail alt',
      card_type='',
      show_title=true,
      show_levels=true,
      show_difficulty=true,
      show_overlay=true,
      show_tags=true,
      show_description=true,
      show_thumbnail=true
  )
%}
  {% if card_type == 'assignment' %}
    {% set badge = '' %}
  {% else %}
    {% set badge = '' %}
  {% endif %}

  <a
    href="{{ abspath }}/{{ item }}"
    class="card card-container grid-cols-2 p-3 block {{ extra_classes }} {{ wrapper_classes }}"
    data-title="{{ title|lower }}"
    data-description="{{ description|lower }}"
    data-tags="{{ tags|join(' ')|lower }}"
    data-overlay-text="{{ overlay_text|lower }}"
  >
    {% if badge %}
      {{ badge }}
    {% endif %}

    {% if show_title and title %}
      <div class="card-header">
        <div class="card-title text-2xl font-extrabold text-center pb-1">
          {{ title }}
        </div>
      </div>
    {% endif %}

    {% if show_thumbnail %}
      <div class="thumbnail-container">
        <img
          class="thumbnail-image w-full object-cover"
          src="{{ thumbnail }}"
          alt="{{ thumbnail_alt }}"
        />

        {% if show_levels and level_count and level_count > 1 %}
          <div class="level-count-container text-sm">
            {{ level_count }} Level{{ 's' if level_count != 1 }}
          </div>
        {% endif %}

        {% if show_difficulty and difficulty and difficulty|int > 0 %}
          {% if difficulty|int > 5 %}
            {% set difficulty = "5" %}
          {% endif %}
          <img class="difficulty-icon difficulty-{{ difficulty|string }}" src="{{ url_for('static', filename='img/difficulties/' + difficulty|string + '.png') }}">
        {% endif %}

        {% if show_overlay and overlay_text %}
          <div class="thumbnail-text-overlay">{{ overlay_text }}</div>
        {% endif %}
      </div>
    {% endif %}

    {# Card Tags #}
    {% if show_tags and tags %}
      <div class="tags-container mt-2">
        {% for tag in tags %}
          <span
            class="tag-box inline-block text-sm px-2 py-1 rounded-full font-semibold"
            data-tag="{{ tag }}"
          >
            {{ tag }}
          </span>
        {% endfor %}
      </div>
    {% endif %}

    {% if show_description and description %}
      <div class="description-container mt-2 font-semibold">
        {{ description }}
      </div>
    {% endif %}
  </a>
{% endmacro %}
