/****************************\
|*     FONT SIZE THEMES     *|
\****************************/
:root {
  --piggy-font-size-theme-scale: 1;
  --piggy-reader-font-scale: var(--piggy-font-size-theme-scale);
  --piggy-reader-space-scale: 1;
}

:root:is([data-reader-font-size="xx-small"], [data-font-size="xx-small"]) {
  --piggy-font-size-theme-scale: 0.7;
  --piggy-reader-space-scale: 0.82;
}

:root:is([data-reader-font-size="x-small"], [data-font-size="x-small"]) {
  --piggy-font-size-theme-scale: 0.85;
  --piggy-reader-space-scale: 0.9;
}

:root:is([data-reader-font-size="small"], [data-font-size="small"]) {
  --piggy-font-size-theme-scale: 1;
  --piggy-reader-space-scale: 0.96;
}

:root:is([data-reader-font-size="default"], [data-font-size="default"]) {
  --piggy-font-size-theme-scale: 1.075;
  --piggy-reader-space-scale: 1;
}

:root:is([data-reader-font-size="large"], [data-font-size="large"]) {
  --piggy-font-size-theme-scale: 1.2;
  --piggy-reader-space-scale: 1.08;
}

:root:is([data-reader-font-size="x-large"], [data-font-size="x-large"]) {
  --piggy-font-size-theme-scale: 1.35;
  --piggy-reader-space-scale: 1.16;
}

:root:is([data-reader-font-size="xx-large"], [data-font-size="xx-large"]) {
  --piggy-font-size-theme-scale: 1.5;
  --piggy-reader-space-scale: 1.24;
}

:root:is([data-reader-font-size="xxx-large"], [data-font-size="xxx-large"]) {
  --piggy-font-size-theme-scale: 1.85;
  --piggy-reader-space-scale: 1.35;
}

:root[data-reader-font-size-affects-ui="on"] {
  --piggy-font-scale: var(--piggy-font-size-theme-scale);
}
