/****************************\
|*     FONT SIZE THEMES     *|
\****************************/
:root {
  --piggy-font-size-theme-scale: 1;
  --piggy-reader-font-scale: var(--piggy-font-size-theme-scale);
}

:root[data-reader-font-size="xx-small"],
:root[data-font-size="xx-small"] {
  --piggy-font-size-theme-scale: 0.7;
}

:root[data-reader-font-size="x-small"],
:root[data-font-size="x-small"] {
  --piggy-font-size-theme-scale: 0.85;
}

:root[data-reader-font-size="small"],
:root[data-font-size="small"] {
  --piggy-font-size-theme-scale: 1;
}

:root[data-reader-font-size="default"],
:root[data-font-size="default"] {
  --piggy-font-size-theme-scale: 1.075;
}

:root[data-reader-font-size="large"],
:root[data-font-size="large"] {
  --piggy-font-size-theme-scale: 1.2;
}

:root[data-reader-font-size="x-large"],
:root[data-font-size="x-large"] {
  --piggy-font-size-theme-scale: 1.35;
}

:root[data-reader-font-size="xx-large"],
:root[data-font-size="xx-large"] {
  --piggy-font-size-theme-scale: 1.5;
}

:root[data-reader-font-size="xxx-large"],
:root[data-font-size="xxx-large"] {
  --piggy-font-size-theme-scale: 1.85;
}

:root[data-reader-font-size-affects-ui="on"] {
  --piggy-font-scale: var(--piggy-font-size-theme-scale);
}
