/***********************\
|*     FONT THEMES     *|
\***********************/
:root {
  --piggy-site-font-family: "Noto Sans", sans-serif;
  --piggy-ui-font-family: var(--piggy-site-font-family);
  --piggy-reader-font-family: var(--piggy-site-font-family);
}

:root,
body,
button,
input,
select,
textarea {
  font-family: var(--piggy-site-font-family) !important;
}

.md-content,
.md-typeset,
.md-content__inner {
  font-family: var(--piggy-site-font-family) !important;
}

.glightbox-clean .gslide-title,
.glightbox-clean .gslide-desc {
  font-family: var(--piggy-site-font-family) !important;
}

:root:is([data-reader-font="default"], [data-font-theme="default"]) {
  --piggy-site-font-family: "Noto Sans", sans-serif;
}

:root:is([data-reader-font="atkinson"], [data-font-theme="atkinson"]) {
  --piggy-site-font-family: "Atkinson Hyperlegible", Arial, sans-serif;
}

:root:is([data-reader-font="lexend"], [data-font-theme="lexend"]) {
  --piggy-site-font-family: "Lexend", "Noto Sans", sans-serif;
}

:root:is([data-reader-font="bitter"], [data-font-theme="bitter"]) {
  --piggy-site-font-family: "Bitter", serif;
}

:root:is([data-reader-font="nunito"], [data-font-theme="nunito"]) {
  --piggy-site-font-family: "Nunito", "Noto Sans", sans-serif;
}

:root:is([data-reader-font="lato"], [data-font-theme="lato"]) {
  --piggy-site-font-family: "Lato", "Noto Sans", sans-serif;
}

:root:is([data-reader-font="quicksand"], [data-font-theme="quicksand"]) {
  --piggy-site-font-family: "Quicksand", sans-serif;
}

:root:is([data-reader-font="arial"], [data-font-theme="arial"]) {
  --piggy-site-font-family: Arial, Helvetica, sans-serif;
}

:root:is([data-reader-font="lexia"], [data-font-theme="lexia"]) {
  --piggy-site-font-family: "Lexia", "Comic Sans MS", sans-serif;
}

:root:is(
  [data-reader-font="open-dyslexic"],
  [data-font-theme="open-dyslexic"]
) {
  --piggy-site-font-family: "OpenDyslexic", "Comic Sans MS", sans-serif;
}

:root:is([data-reader-font="georgia"], [data-font-theme="georgia"]) {
  --piggy-site-font-family: Georgia, serif;
}

:root:is([data-reader-font="verdana"], [data-font-theme="verdana"]) {
  --piggy-site-font-family: Verdana, Geneva, sans-serif;
}
