/************************\
|*      SITE HEADER     *|
\************************/
.site-header {
  width: 100%;
  overflow: visible;
}

@media screen and (min-width: 800px) {
  .site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 5px #00000066;
  }
}

@media (max-height: 430px) and (orientation: landscape) {
  .site-header {
    position: relative;
  }
}
