{% macro _load_path(path) %}
  {% include path %}
{% endmacro %}

{% macro include_svg(
  svg='',
  class='',
  style=''
)
%}
  {% set svg_content = _load_path(svg) %}

  {# html attribute builder #}
  {% set attr_string = '' %}

  {% if class %}
    {% set attr_string = attr_string ~ ' class="' ~ class ~ '"' %}
  {% endif %}
  {% if style %}
    {% set attr_string = attr_string ~ ' style="' ~ style ~ '"' %}
  {% endif %}

  {% if attr_string %}
    {% set svg_content = svg_content | replace('<svg', '<svg' ~ attr_string, 1) %}
  {% endif %}

  {{ svg_content | safe }}
{% endmacro %}