/****************************\
|*     ASSIGNMENT CARDS     *|
\****************************/

.card-assignment {
  background: linear-gradient(
    135deg,
    var(--piggy-assignment-card-start) 0%,
    var(--piggy-assignment-card-end) 100%
  );
  border: var(--piggy-card-border-width) solid
    var(--piggy-assignment-card-border);
  padding: 0.75rem;
}

.card-assignment:hover {
  box-shadow: inset 0 0 20px var(--piggy-assignment-shadow-glow);
}

.card-assignment .thumbnail-image {
  aspect-ratio: 4 / 1;
}
