/*****************\
|*     CARDS     *|
\*****************/
.card-container {
  position: relative;
  display: block;
  background: linear-gradient(
    45deg,
    var(--piggy-card-start) 0%,
    var(--piggy-card-end) 100%
  );
  color: var(--piggy-text-card);
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  box-shadow: 5px 5px 5px 0 var(--piggy-shadow-box);
  border-color: var(--piggy-card-border);
  border-style: solid;
  border-width: var(--piggy-card-border-width);
  border-radius: 1rem;
  padding: 0.75rem;
  text-decoration: none;
}

.card-container:hover {
  transform: translateY(-3px) rotate(0.5deg) scale(98%);
  animation-timing-function: ease;
  box-shadow: inset 0px 0px 25px 0 var(--piggy-shadow-glow);
  cursor: pointer;
}

.card-title {
  color: var(--piggy-text-title);
  font-size: calc(1.25rem * var(--piggy-font-scale));
  font-weight: 800;
  line-height: calc(2 / 1.5);
  width: 100%;
  text-align: center;
  padding-bottom: 0.25rem;
}

.card-header {
  display: flex;
}

.description-container {
  color: var(--piggy-text-description);
  border-top: 1px solid var(--piggy-text-description);
  margin-top: 0.5rem;
  padding-top: 10px;
  font-weight: 600;
}
