/*******************\
|* CARD DIFFICULTY *|
\*******************/
.piggy-card-difficulty {
  flex: none;
  width: calc(2.9rem * var(--piggy-font-scale));
  aspect-ratio: 75 / 52;
  object-fit: cover;
  object-position: 50% 30%;
  margin-left: auto;
}
