/*******************\
|*    CARD TAGS    *|
\*******************/
.tags-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
}

.tag-box {
  display: inline-block;
  margin: 2px 2px 2px 2px;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  box-shadow: inset 0px 0px 5px 0 var(--piggy-shadow-box);
  font-size: calc(0.85rem * var(--piggy-font-scale));
  line-height: calc(1.25 / 0.875);
  color: var(--piggy-text-tag);
  font-weight: 600;
}
