<!-- pragma: no cover -->
<script>
  function syntaxHighlight(json) {
    json = json.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
      var cls = "number";
      if (/^"/.test(match)) {
        if (/:$/.test(match)) {
          cls = "key";
        } else {
          cls = "string";
        }
      } else if (/true|false/.test(match)) {
        cls = "boolean";
      } else if (/null/.test(match)) {
        cls = "null";
      }
      return "<span class=\"" + cls + "\">" + match + "</span>";
    });
  }

  console.log("GLOBAL CONTEXT VARIABLES");
  console.log("---");
  console.log("media_abspath: " + JSON.stringify({{ media_abspath | string | tojson }}));
  console.log("abspath: " + JSON.stringify({{ abspath | string | tojson }}));
  console.log("path: " + JSON.stringify({{ path | string | tojson }}));
  console.log("ASSIGNMENT_URL_PREFIX: " + JSON.stringify({{ ASSIGNMENT_URL_PREFIX | string | tojson }}));
  console.log("MEDIA_URL_PREFIX: " + JSON.stringify({{ MEDIA_URL_PREFIX | string | tojson }}));
  console.log("github_pages: " + JSON.stringify({{ github_pages | string | tojson }}));
  console.log("AssignmentTemplate: " + JSON.stringify({{ AssignmentTemplate | string | tojson }}));
  console.log("debug: " + JSON.stringify({{ debug | string | tojson }}));

  {% if level %}
    console.log("");
    console.log("ASSIGNMENT SPECIFIC VARIABLES");
    console.log("---");
    console.log("current_language: " + JSON.stringify({{ current_language | string | tojson }}));
    console.log("supported_languages: " + JSON.stringify({{ supported_languages | string | tojson }}));
    console.log("level: " + JSON.stringify({{ level | string | tojson }}));
    console.log("level_name: " + JSON.stringify({{ level_name | string | tojson }}));
    console.log("heading: " + JSON.stringify({{ heading | string | tojson }}));
  {% endif %}


  {% if meta %}
    console.log("");
    console.log("META VARIABLES (might be page specific)");
    console.log("---");
    console.log(JSON.stringify({{ unfreeze(meta) | tojson }}, null, 2));
  {% endif %}

  {% if segment %}
    console.log("");
    console.log("Segment");
    console.log("---");
    console.log({{ unfreeze(segment) | tojson}});
  {% endif %}

  console.log("");
  console.log("JINJA Specific variables");
  console.log("---");
  console.log("request.path: " + JSON.stringify({{ request.path | string | tojson }}));
  console.log("request.url: " + JSON.stringify({{ request.url | string | tojson }}));
  console.log("request.endpoint: " + JSON.stringify({{ request.endpoint | string | tojson }}));
  console.log("request.full_path: " + JSON.stringify({{ request.full_path | string | tojson }}));
  console.log("request.url_root: " + JSON.stringify({{ request.url_root | string | tojson }}));
  console.log("request.base_url: " + JSON.stringify({{ request.base_url | string | tojson }}));
  console.log("request.host_url: " + JSON.stringify({{ request.host_url | string | tojson }}));

  console.log("");
  console.log("Piggymap");
  console.log("---");
  console.log({{ unfreeze(piggymap) | tojson }});
</script>
