{% set levels_data = meta.get(AssignmentTemplate.LEVELS_DATA.name) %}

{% if levels_data %}
  {% if levels_data.meta.type == "assignment" %}
    {% set level_text = "Oppgave" %}
  {% elif levels_data.meta.type == "information" %}
    {% set level_text = "Tema" %}
  {% else %}
    {% set level_text = "Level" %}
  {% endif %}

  {% set levels = levels_data.data.items() | sort_by_level %}

  {% if levels|length > 1 %}
    {% set level_select_classes = "level-select" %}
    {% if levels|length > 8 %}
      {% set level_select_classes = level_select_classes ~ " level-select--compact" %}
    {% endif %}

    <nav
      id="level-container"
      class="{{ level_select_classes }}"
      data-level-count="{{ levels|length }}"
      aria-label="{{ level_text }}">
      {% for link, assignment in levels %}
        {% if current_language.key and current_language.key in assignment.translation_meta %}
          {% set level_meta = assignment.translation_meta[current_language.key] %}
          {% if "/lang/" in request.path %}
            {%
              set link = request.path.split('/lang/')[0].split('/')[0:-1] | join('/') ~ "/" ~ link ~ "/lang/" ~
              current_language.key
            %}
          {% endif %}
        {% else %}
          {% set level_meta = assignment.meta %}
          {# GitHub Pages only: If a translation doesn't exist for the level, link to the default language #}
          {% if "/lang/" in request.path %}
            {% set link = request.path.split('/lang/')[0].split('/')[0:-1] | join('/') ~ "/" ~ link %}
          {% endif %}
        {% endif %}

        {% if assignment.meta.difficulty %}
          {% set level_difficulty = assignment.meta.difficulty %}
        {% else %}
          {% set level_difficulty = "-1" %}
        {% endif %}

        {% if assignment.level | int == level | int %}
          <div
            class="snout-button snout-border snout-padding-m active level-diff-{{ level_difficulty }}"
            aria-current="page">
            <span class="level-button-label">
              <span class="level-button-text">{{ level_text }}</span>
              <span class="level-button-number"
                >{{ assignment.level | int }}</span
              >
            </span>
            {% include "partials/header/level-tooltip.html" %}
          </div>
        {% else %}
          <a
            href="{{ link }}"
            class="snout-button snout-border snout-padding-m level-diff-{{ level_difficulty }}">
            <span class="level-button-label">
              <span class="level-button-text">{{ level_text }}</span>
              <span class="level-button-number"
                >{{ assignment.level | int }}</span
              >
            </span>
            {% include "partials/header/level-tooltip.html" %}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  {% endif %}
{% endif %}
