# A static version of the site is built and deployed using a web scraper

name: Pages

on:
  repository_dispatch:
    types: [ fill_piggybank ]
  workflow_dispatch:
  push:
    branches: [ main ]

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: self-hosted
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Set up npm
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Get piggybank
        run: |
          rm -r piggybank
          git clone --branch output https://${{ secrets.PIGGYPAT }}@github.com/VaagenIM/piggybank piggybank

      - name: Install dependencies
        run: |
          uv pip install .
          npm install --omit=dev
          echo "GITHUB_PAGES=1" >> $GITHUB_ENV
          echo "USE_CACHE=0" >> $GITHUB_ENV
          uv pip install -r .github/workflows/requirements-pages.txt

      - name: Start Piggy server
        run: |
          gunicorn --bind 0.0.0.0:55555 -t 60 --preload --workers 16 run:app &

      - name: Run web scraper to build static site
        run: python .github/workflows/web_scraper.py

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: ./.github/workflows/demo

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
