{# common_head can safely be used by _all_ pages #}
{% include "partials/common_head.html" %}

{# this is just used within layout #}
{% block styles %}
  {% include "partials/parts/styles.html" %}
{% endblock %}

<script src="{{ url_for('static', filename='js/matrix.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/ocean.js') }}" defer></script>

<script src="{{ url_for('static', filename='js/on-load.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

